input,
select,
textarea {
	font-family: $font-primary;
	outline: none !important;
}

button {
	outline: none !important;
	background: transparent;
	border: none;
}

.group--control {
	display: flex;
	align-items: center;

	&>.control {
		flex: 1 1 auto;
	}

	&>.btn {
		flex: 1 1 auto;
	}

}

.control--select {
	.input {
		position: relative;
		display: flex;
		align-items: center;

		.icon--search {
			width: 16px;
			height: 16px;
			line-height: 1;
			fill: $primary;
		}

		.icon--close {
			width: 20px;
			height: 30px;
			padding: 10px 10px 10px 0;
			fill: $primary;
		}

		.value {
			outline: none !important;
			line-height: inherit;
		}

		.icon--arrow-down {
			position: absolute;
			width: 13px;
			height: 9px;
			right: 15px;
			top: 50%;
			margin-top: -5px;
			fill: $primary;
		}

		&[disabled] {
			pointer-events: none;
		}
	}

	&.selected {
		.input {
			.value {

				&,
				&::placeholder {
					font-weight: $font-regular;
					color: $foreground;
				}
			}
		}
	}
}
