input,
select,
textarea {
	font-family: $font-primary;
	outline: none !important;
	cursor: pointer;
}

button {
	outline: none !important;
	background: transparent;
	border: none;
}

.group--control {
	display: flex;
	align-items: center;

	&>.control {
		flex: 1 1 auto;
	}

	&>.btn {
		flex: 1 1 auto;
	}

}

.control--select {
	.input {
		position: relative;
		display: flex;
		align-items: center;

		.icon--search {
			width: 16px;
			height: 16px;
			line-height: 1;
			fill: $primary;
		}

		.icon--close {
			width: 20px;
			height: 30px;
			padding: 10px 10px 10px 0;
			fill: $primary;
		}

		.value {
			outline: none !important;
			line-height: inherit;
		}

		.icon--arrow-down {
			position: absolute;
			width: 13px;
			height: 9px;
			right: 15px;
			top: 50%;
			margin-top: -5px;
			fill: $primary;
		}

		&[disabled] {
			pointer-events: none;
		}
	}

	&.selected {
		.input {
			.value {

				&,
				&::placeholder {
					font-weight: $font-regular;
					color: $foreground;
				}
			}
		}
	}
}

/////////////////////////////////////////

$white: #fff !default;
$black: #000 !default;
$red: #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green: #5cb85c !default;
$blue: #0000ff !default;
$teal: #5bc0de !default;
$pink: #ff5b77 !default;
$purple: #613d7c !default;
$idle: #999;
$placeholder: #ccc;
$warning: $primary;
$success: $blue;

.group--form {
	position: relative;
}

.form__label {
	display: block;
	position: relative;

	span {
		display: inline-block;
	}

	/*
	.empty>& {
		span {
			transform: translateY(28px);
		}
	}

	.focus>& {
		span {
			transform: translateY(10px);
		}

		&:after {
			transform: translateX(0);
		}
	}

	.success>& {
		&:before {
			background: $success;
		}

		&:after {
			background: $success;
		}
	}

	.error>& {
		&:before {
			background: $warning;
		}

		&:after {
			background: $warning;
		}
	}
	*/
}

.form__control {
	display: block;
	width: 100%;
	height: 40px;
	margin: 0;
	border-radius: 0;
	border: none;
	border-bottom: 2px solid $foreground;
	appearance: none;

	&::-webkit-input-placeholder {
		/* Chrome/Opera/Safari */
		color: $placeholder;
	}

	&::-moz-placeholder {
		/* Firefox 19+ */
		color: $placeholder;
	}

	&:-ms-input-placeholder {
		/* IE 10+ */
		color: $placeholder;
	}

	&:-moz-placeholder {
		/* Firefox 18- */
		color: $placeholder;
	}

	&.empty {}

	&.focus {}

	&.success {}

	&.error {}
}

control-messages {
	display: none;
	position: relative;
	background: $background-tertiary;
	color: $primary;

	.error>& {
		display: block;
	}

	&>span {}
}

/*
.btn {
	cursor: pointer;
	-webkit-appearance: none;
	outline: none;
	box-shadow: none;

	&:focus {
		-webkit-appearance: none;
		outline: none;
		box-shadow: none;
	}

	&.busy {
		position: relative;
		z-index: 10;
		background: $blue;
		border-color: $blue;
	}

	&.error {
		background: $red;
		border-color: $red;
	}

	&.success {
		background: $green;
		border-color: $green;
	}
}

.input-group-addon {
	position: relative;
	cursor: pointer;
	background: transparent;

	[class^='icon-'] {
		font-size: 15px;
		line-height: 20px;
		color: $blue;
	}
}
*/
