@import './../variables';
@import './../mixins';

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

.container {
	@include make-container();
	@include make-container-max-widths();
}

.container-fluid {
	@include make-container();
}

.row {
	@include make-row();
	width: 100%;
}

.container {
	position: relative;
}

@include make-grid-columns();

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-down($breakpoint) {
		.hidden-#{$breakpoint}-down {
			display: none;
		}
	}

	@include media-breakpoint-up($breakpoint) {
		.hidden-#{$breakpoint}-up {
			display: none;
		}
	}
}
