.group--cta {
	padding: 40px 0;
	text-align: center;

	@include media-breakpoint-down(xs) {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		&>.btn+.btn {
			margin-top: 15px;
		}
	}

	@include media-breakpoint-up(sm) {
		&>.btn+.btn {
			margin-left: 15px;
		}
	}

}
