.group--cta {
	padding: 40px 0;
	text-align: center;

	@include media-breakpoint-down(xs) {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		&>.btn+.btn {
			margin-top: 15px;
		}
	}

	@include media-breakpoint-up(sm) {
		&>.btn+.btn {
			margin-left: 15px;
		}
	}

}

.group--tile {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 0 0 60px 0;

	&>div {
		flex: 1 0 auto;
		text-align: center;
	}
}
