@import "../variables";
@import "../mixins";

.nav {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav--product {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	background: $background-tertiary;

	&>li {
		flex: 1 1 auto;

		&>a,
		&>span {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 80px;
			z-index: 1;
			font-size: 15px;
			font-weight: $font-semibold;
			text-transform: uppercase;
			background: $background-tertiary;
			color: $nav-product;
			transition: ease-in-out 350ms;
			transition-property: background-color, color, border, opacity;

			&:hover,
			&.active {
				background: $primary-active;
				color: $nav-product-active;
			}
		}
	}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {
		flex-wrap: wrap;
		// margin: 0 auto;
		// max-width: calc(100vw - 120px);

		&>li {
			flex: 0 0 20%;

			&>a,
			&>span {
				min-height: 50px;
			}
		}
	}
}

.menu--product {
	background: $background-tertiary;
}
