.swiper-container {
	width: 100%;
	cursor: pointer;
	overflow: visible;
	// visibility: hidden;

	&.ready {
		// visibility: visible;
	}
}

.swiper-wrapper {
	padding-bottom: 0;
}

.swiper-container-horizontal {
	&>.swiper-pagination-bullets {

		.swiper-pagination-bullet {
			transition: all ease-in-out 350ms;
		}
	}

	&>.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 5px;
	}

	& .swiper-pagination-bullet {
		cursor: pointer;
	}

}

.swiper-pagination-bullets {

	&,
	.swiper-container-horizontal>& {
		position: relative;
		height: 60px;
		bottom: 60px;
		margin-bottom: -60px;
		padding: 0;
	}
}

.swiper-pagination-bullets {
	text-align: center;
	background: transparent;

	&:not(.swiper-pagination-bullets-dynamic) {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.swiper-pagination-bullet {
		width: auto;
		height: 30px;
		border-radius: 0;
		position: relative;
		transform: none;
		outline: none;
		background: transparent;
	}

	.swiper-pagination-bullet-active,
	.swiper-pagination-bullet-active-main {
		transform: none;
	}

}

.swiper-pagination-bullet {
	display: inline-flex;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 0;
	opacity: 1;
	background: transparent;

	&:before {
		content: '';
		display: block;
		width: 8px;
		height: 8px;
		border-radius: 4px;
		background: #d8d2cd;
		transition: all 300ms ease-in-out;
	}

	.swiper-pagination-black & {
		&:before {
			background: rgba(0, 0, 0, 0.3);
		}

		&:hover {
			&:before {
				background: rgba(0, 0, 0, 1);
			}
		}

		&.swiper-pagination-bullet-active {
			opacity: 1;

			&:before {
				background: rgba(0, 0, 0, 1);
			}
		}
	}

	.swiper-pagination-white & {
		&:before {
			background: #d8d2cd;
		}

		&:hover {
			&:before {
				background: $foreground-secondary;
			}
		}

		&.swiper-pagination-bullet-active {
			opacity: 1;

			&:before {
				background: $foreground-secondary;
			}
		}
	}
}

@mixin arrow($size: 1) {
	width: 27px * $size;
	height: 44px * $size;
	background-size: 27px * $size 44px * $size;
	// margin-top: -22px * $size;
	margin: 0;
	transform: translateY(-50%);
}

.swiper-button-prev,
.swiper-button-next {

	&:focus,
	&:active {
		outline: none !important;
	}

	@include media-breakpoint-up(md) {
		@include arrow();
	}

	@include media-breakpoint-down(sm) {
		@include arrow(0.6);
	}
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
	left: 10px;
	right: auto;

	&.swiper-button-white {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	}

	&.swiper-button-black {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234e5256'%2F%3E%3C%2Fsvg%3E");
	}
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
	right: 10px;
	left: auto;

	&.swiper-button-white {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	}

	&.swiper-button-black {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234e5256'%2F%3E%3C%2Fsvg%3E");
	}
}

[swiper-tile] {

	.swiper-pagination-bullets,
	.swiper-container-horizontal>.swiper-pagination-bullets {
		bottom: 0;
		padding: 0;
	}

	@include media-breakpoint-down(xs) {

		.swiper-button-prev,
		.swiper-button-next {
			top: calc(50vw - 30px);
		}
	}
}

[swiper-timeline] {

	.swiper-pagination-bullets,
	.swiper-container-horizontal>.swiper-pagination-bullets {
		bottom: 25px;
		padding: 0;
	}

	@include media-breakpoint-down(xs) {

		.swiper-button-prev,
		.swiper-button-next {
			top: auto;
			bottom: 30px;
		}
	}
}

[swiper-gallery],
[swiper-gallery-hero] {

	.zoomable:not(.zoomed) & {
		margin-bottom: 60px;

		.swiper-slide {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			background: transparent;

			&:not(.swiper-slide-active) {
				.picture {
					opacity: 0.5;
				}
			}

		}

		.picture {
			position: relative;
			overflow: hidden;
			max-height: calc(100vh - 140px);
			transition: opacity ease-in-out 350ms;
			opacity: 1;
		}

		.title {
			display: none;
		}

		@include media-breakpoint-up(sm) {
			.swiper-slide {
				display: flex;
				width: auto;
				height: 560px;
			}

			img,
			video {
				width: auto;
				max-width: 100%;
				max-height: 560px;
				object-fit: cover;
			}

		}

		@include media-breakpoint-down(xs) {
			.swiper-slide {
				display: flex;
				width: 100%;
				height: 400px;
			}

			.picture,
			.media,
			ng-transclude {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			img,
			video {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

	}

	.zoomed & {

		/*
		.swiper-wrapper {
			flex: 1 1 100%;
			// height: calc(100vh - 60px);
			// flex: 1 1 calc(100vh - 60px);
		}

		.swiper-pagination {
			flex: 0 0 auto;
		}
		*/

		.swiper-button-prev,
		.swiper-button-next {
			mix-blend-mode: difference;
		}

		.swiper-slide {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: auto;
			text-align: center;
			background: white;

			&:hover {
				.title {
					opacity: 1;
				}
			}
		}

		.picture {
			flex: 0 1 auto;
			margin-bottom: 20px;
			overflow: hidden;
			background: none;
			box-shadow: none;
		}

		.media {
			width: auto;
			height: 100%;
		}

		ng-transclude {
			display: block;
			width: auto;
			height: 100%;
		}

		.title {
			display: block;
			position: relative;
			opacity: 1;
			padding: 9px 15px;
			max-width: 1200px;
			font-size: 16px;
			line-height: 1.35;
			margin-bottom: 20px;
		}

		@include media-breakpoint-up(sm) {
			position: absolute;
			display: flex;
			flex-direction: column;
			top: 30px;
			left: 30px;
			right: 30px;
			bottom: 30px;
			width: auto;
			height: auto;

			&.swiper-container-horizontal>.swiper-pagination-bullets,
			.swiper-pagination-bullets {
				position: absolute;
				bottom: 30px;
				margin-bottom: -60px;
			}

			.swiper-slide {
				height: calc(100vh - 60px);
			}

			.picture {
				width: 100%;
				max-width: 100%;
				max-height: 100%;
			}

			img,
			video {
				width: auto;
				max-height: 100%;
				transition: opacity ease-in-out 350ms;
			}

		}

		@include media-breakpoint-down(xs) {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;

			&.swiper-container-horizontal>.swiper-pagination-bullets,
			.swiper-pagination-bullets {
				position: absolute;
				bottom: 60px;
				margin-bottom: -60px;
			}

			.swiper-slide {
				height: calc(100vh - 60px);
			}

			.picture {
				margin-bottom: 0;
			}

			.title {
				position: absolute;
				padding: 0 15px;
				font-size: 15px;
				margin-bottom: 0;
				bottom: 0;
				background: rgba(255, 255, 255, 0.5);
			}

			.picture,
			.media,
			ng-transclude {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			img,
			video {
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
				object-fit: unset;
			}

			.overlay {
				transition: none;
			}
		}
	}
}

[swiper-gallery-hero] {
	.zoomable:not(.zoomed) & {

		.swiper-slide {
			background: #2e2e2e;
		}

		.picture {
			max-height: none;
		}

		@include media-breakpoint-up(sm) {
			.swiper-slide {
				height: 720px;
			}

			img,
			video {
				max-height: 720px;
			}

		}

		@include media-breakpoint-down(xs) {
			.swiper-slide {
				height: 400px;
			}
		}

	}
}

.section--navs+.section--gallery {
	padding-top: 80px;

	@include media-breakpoint-up(sm) {
		margin-top: 40px;

		.swiper-container {
			margin-bottom: 20px;
		}
	}
}

[zoomable] {

	&>.swiper-container {
		transition: none !important;
	}

	&>.zoomable__content {
		transition: none !important;
	}

	&>.zoomable__close {
		display: none;
	}

	&:not(.zoomed) {
		.btn--zoom {
			.icon--close {
				display: none;
			}
		}
	}

	&.zoomed {
		.btn--zoom {
			.icon--search {
				display: none;
			}
		}

		&>.zoomable__content {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: white;
			z-index: 100000;
		}

		&>.zoomable__close {
			position: fixed;
			z-index: 100000;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			svg {
				fill: $primary;
			}
		}

		@include media-breakpoint-up(sm) {
			.swiper-container {
				margin-bottom: 0;
			}

			.swiper-wrapper {
				height: auto;
			}
		}

		@include media-breakpoint-down(sm) {
			&>.zoomable__close {
				top: 0px;
				right: 0px;
				width: 40px;
				height: 40px;

				svg {
					width: 16px;
					height: 16px;
				}
			}
		}

		@include media-breakpoint-up(md) {
			&>.zoomable__close {
				top: 10px;
				right: 10px;
				width: 40px;
				height: 40px;

				svg {
					width: 26px;
					height: 26px;
				}
			}
		}
	}
}
