[data-thron] {
	height: 100%;
	width: 100%;

}

.th-video .th-video-player .th-video-poster {
	/*
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	*/
	background-size: cover !important;
}

.th-video .th-video-player .th-video-overlay {
	img {
		width: 60px !important;
		height: 60px !important;
	}
}

.th-clickable-overlay:hover .th-button-color:not(.th-hover-disabled):not(.th-button-disabled) {
	fill: $primary !important;
	color: $primary !important;
}

.th-button-color:not(.th-hover-disabled):not(.th-button-disabled):hover {
	fill: $primary !important;
	color: $primary !important;
}

.th-svg-gradient.th-bg-stop-color {
	stop-color: $primary !important;
}

.th-components-bg-color {
	stroke: $primary !important;
	background-color: $primary !important;
}
