.section--advanced-search-results {
	min-height: 100vh;
}

.section--advanced-search {
	padding-top: 100px;
	padding-bottom: 60px;
	text-align: left;

	/*
	.category {
		font-size: 14px;
		line-height: 32px;
		text-transform: uppercase;
		margin-bottom: 0;
	}

	.icon--brand {
		width: 270px;
		height: 65px;
		margin-bottom: 40px;
	}

	.title {
		font-size: 42px;
		line-height: 50px;
		margin-bottom: 90px;
		color: $foreground;
	}
	*/
}

.group--search-filters {
	padding: 0 30px 0 0;

	.icon--plus,
	.icon--minus {
		width: 9px;
		height: 9px;
		fill: #4E5256;
		margin-right: 20px;
	}

	.icon--minus {
		display: none;
	}

	[has-dropdown] {
		.dropdown {
			display: none;
			position: relative;
			max-height: 520px;
			margin-bottom: 40px;

			.nav--select {
				padding: 0;
				margin: 0;
			}
		}

		&.opened {

			.icon--plus {
				display: none;
			}

			.icon--minus {
				display: block;
			}

			.option {
				font-size: 16px;
			}

			.dropdown {
				display: block;
				max-height: 520px;
			}
		}
	}

}

.nav--selected-filters {
	flex-direction: column;
	width: 100%;
	margin: 0 0 60px 0;

	.icon--remove {
		width: 9px;
		height: 9px;
		fill: #B92442;
		margin-right: 20px;
	}

	&>li {
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		&>.nav__item {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 0;
			cursor: pointer;

			span {
				position: relative;
				display: block;

				line-height: 1;
				font-size: 15px;
				font-weight: $font-bold;
				color: $primary;

				&:after {
					content: '';
					position: absolute;
					left: 0;
					bottom: -4px;
					width: 100%;
					height: 2px;
					background: $primary;
					transform: scale(0, 1);
					transition: all ease-out 350ms;
				}
			}

			&:hover {
				span {
					&:after {
						transform: scale(1, 1);
					}
				}
			}
		}

		&>.nav__item--clear {
			white-space: nowrap;
			text-transform: lowercase;

			.icon--remove {
				margin: 0 0 0 10px;
			}
		}
	}

}

.nav--search-filters {

	flex-direction: column;
	width: 100%;
	padding: 0;
	margin: 0;

	&>li {

		&>.nav__item {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 10px 0 30px 0;

			span {
				display: block;
				text-transform: uppercase;
				line-height: 1.2;
				font-size: 13px;
				color: $foreground-secondary;
				transition: all ease-in-out 350ms;
			}
		}

		&:hover,
		&.active {
			&>.nav__item {
				span {
					color: $foreground;
				}

				svg {
					fill: $foreground;
				}
			}

		}

		/*
		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}
		*/

	}

}

.listing--advanced-search {
	display: flex;
	flex-wrap: wrap;

	&>.listing__item {

		display: block;
		padding-bottom: 90px;
		text-align: left;

		.picture {
			@include aspect-clip(1, 1);
			margin-bottom: 25px;
			transition: all ease-in-out 400ms;
		}

		&:not(:hover) {
			.picture {
				box-shadow: none;
			}
		}

		.title {
			font-size: 20px;
			line-height: 1;
			text-transform: uppercase;
			margin-bottom: 2px;
		}

		.group--cta {
			margin: 0;
			text-align: left;
		}

		@include media-breakpoint-up(sm) {
			max-width: 365px;
			flex: 0 0 calc(33% - 60px);
			margin-right: 60px;

		}

		@include media-breakpoint-down(xs) {
			flex: 0 0 100%;
			margin: 0;

			.group--cta {
				display: block;
				display: block;
				line-height: 1.2;

				.btn--category {
					margin-right: 15px;
					margin-top: 10px;
				}

				&>.btn+.btn {
					margin-top: 10px;
				}
			}
		}
	}
}
