.section--breadcrumb {
	padding: 0 0 30px 0;
}

.nav--breadcrumb {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;

	&>li {
		margin-right: 20px;

		&>a,
		&>span {
			display: inline-block;
			position: relative;
			font-size: 12px;
			color: $foreground-secondary;
		}

		&:first-child {

			&>a,
			&>span {
				font-weight: $font-semibold;
				color: $foreground;
			}
		}

		&:hover,
		&:active,
		&.active {

			&>a,
			&>span {
				color: black;
			}
		}
	}

	/*
	&>li+li {
		margin-left: 20px;
	}
	*/

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}
}
