.section--filters {
	z-index: 100;
	min-height: 97px;

	&.sticky {
		[sticky-content] {
			position: fixed;
			width: 100%;
			top: 62px;
			transition: box-shadow ease-in-out 350ms;
			box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.15);
		}
	}

	@include media-breakpoint-down(xs) {
		display: none;
	}

	@include media-breakpoint-down(md) {
		min-height: 100px;
	}
}

.btn--filter {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80px;
	z-index: 1;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	background: $background-tertiary;
	color: $nav-product;
	transition: ease-in-out 350ms;
	transition-property: background-color, color, border, opacity;
	background: $primary-active;
	color: $nav-product-active;

	&>span {
		display: inline-block;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -4px;
			width: 100%;
			height: 2px;
			background: $nav-product-active;
			transform: scale(0, 1);
			transition: all ease-out 350ms;
		}
	}

	&:hover,
	&.active {
		background: $primary-active;
		color: $nav-product-active;

		&>span {
			&:after {
				transform: scale(1, 1);
			}
		}
	}
}

.form--filters {
	display: flex;
	background: $background-tertiary;

	&>.form__group,
	&>.btn--filter {
		position: relative;
		flex: 1 1 20%;
	}

	&>.form__group {
		padding: 10px 20px;
		background: $background-tertiary;

		&.form__group--distinct {
			background: $background;
			flex: 1 1 340px;
			min-width: 340px;
		}
	}

	.label {
		position: relative;
		display: block;
		font-size: 12px;
		font-weight: $font-semibold;
		text-transform: uppercase;
		color: $foreground-secondary;
		z-index: 1;
	}

	.control {
		outline: none;
		appearance: none;
		display: block;
		width: 100%;
		// padding: 10px 0;
		border: none;
		border-radius: 0;
		font-size: 18px;
		background: transparent;
		line-height: 36px;

		.value {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			max-width: calc(100% - 35px);
			appearance: none;
			background: transparent;
			color: $foreground-secondary;
			font-size: inherit;
			border: none;
		}
	}

	.icon--search {
		fill: $primary;
		width: 36px;
		height: 36px;
		margin-right: 10px;
	}

	.btn--search {
		font-size: 14px;
		white-space: nowrap;
		text-transform: lowercase;
	}
}

.form__group {
	cursor: pointer;

	&.opened {
		z-index: 1;
	}
}

.control--select {
	.input {
		position: relative;
		z-index: 1;
	}
}

.nav--select {
	flex-direction: column;
	width: 100%;
	overflow-y: auto;
	border-top: 1px solid $border;
	padding-bottom: 10px;

	&>li {

		&>a,
		&>span {
			display: block;
			padding: 10px 20px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			color: $foreground-secondary;
		}

		&:hover,
		&.active {

			&>a,
			&>span {
				background: $background-tertiary;
				color: $foreground;
			}

		}

		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}

.dropdown {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background: $background;
	z-index: 0;
	box-shadow: 0 20px 30px -5px rgba(0, 0, 0, 0.15);
	max-height: 0;
	transition: all ease-in-out 350ms;
	overflow: hidden;

	.nav--select {
		margin-top: 95px;
	}

	.opened & {
		max-height: 520px;
	}
}

[has-dropdown] {
	user-select: none;
	cursor: pointer;

	&.opened {
		.dropdown {
			max-height: 520px;
		}
	}
}

.section--collections-results {
	min-height: 100vh;
}

.section--collections {
	padding-top: 120px;
	padding-bottom: 60px;
	text-align: center;

	.category {
		font-size: 14px;
		line-height: 32px;
		text-transform: uppercase;
		margin-bottom: 0;
	}

	.icon--brand {
		width: 270px;
		height: 65px;
		margin-bottom: 40px;
	}

	.title {
		font-size: 42px;
		line-height: 50px;
		margin-bottom: 90px;
		color: $foreground;
	}
}

.section--collections+.section--collections {
	border-top: 2px solid $border;
}

.section--filters {
	z-index: 100;

	&.sticky {
		[sticky-content] {
			position: fixed;
			width: 100%;
			top: 62px;
			transition: box-shadow ease-in-out 350ms;
			box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.15);
		}
	}
}

$collection-gutter: 70px;

.listing--collections {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	width: calc(100% + #{$collection-gutter});
	text-align: left;

	&>.listing__item {
		flex: 0 0 calc(33% - #{$collection-gutter});
		margin-right: $collection-gutter;
		margin-bottom: $collection-gutter;

		.picture {
			transition: all ease-in-out 400ms;
			margin-bottom: 25px;
		}

		&:not(:hover) {
			.picture {
				box-shadow: none;
			}
		}

		.look {
			display: inline-block;
			position: absolute;
			right: 0;
			bottom: 0;
			font-size: 12px;
			line-height: 20px;
			padding: 4px 20px;
			background: $background;
		}

		.title {
			font-size: 20px;
			font-weight: $font-semibold;
			line-height: 1;
			text-transform: uppercase;
			margin-bottom: 15px;
		}

		.abstract {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 15px;
			min-height: 60px;
			color: $foreground-secondary;
		}

		.category {
			font-size: 12px;
			line-height: 1;
			text-transform: uppercase;
			margin-bottom: 10px;
			color: $foreground-secondary;
		}

		.group--location {
			display: flex;
			align-items: center;
			font-size: 14px;
			color: $foreground-secondary;

			.icon--pin-outline {
				width: 13px;
				height: 16px;
				fill: $foreground;
				margin-right: 10px;
			}

			.city {
				font-weight: $font-semibold;
				color: $foreground;
			}
		}

		.group--cta {
			margin: 0;
		}

	}

}

.group--tiles {

	.group--tiles__name {
		font-size: 12px;
		font-weight: $font-bold;
		color: $foreground-secondary;
	}

	.tiles {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-bottom: 20px;
		font-size: 0;
		line-height: 0;
	}

	.tiles__item {
		width: 40px;
		height: 40px;
		margin-right: 8px;
		margin-bottom: 12px;
	}

}
