.section--footer {
	padding: 70px 0;
	border-top: 2px solid #e7e4e1;

	.category {
		font-size: 16px;
		font-weight: $font-semibold;
		color: $foreground;
	}

	.title {
		font-size: 26px;
		line-height: 33px;
	}

	.ceramics-made-in-italy {
		max-width: 213px;
		height: 39px;
	}

	.icon--email {
		max-width: 25px;
		height: 16px;
	}

	.icon--websolute {
		max-width: 20px;
		height: 20px;
	}

	.group--control {
		margin: 50px 0 90px 0;
	}

	.control--newsletter {
		appearance: none;
		border: none;
		border-bottom: 2px solid $border;
		width: calc(100% - 40px);
		margin: 0;
		font-size: 18px;
		line-height: 20px;

		&::placeholder {
			font-size: 18px;
		}
	}

	@include media-breakpoint-down(sm) {}
}

.colophon--primary {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-top: 25px;
	border-top: 2px solid #e7e4e1;
	font-size: 12px;
	color: $foreground-footer;
	line-height: 1.5;

}

.colophon--secondary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	font-size: 12px;
	color: $foreground-footer;
	line-height: 1.5;
}

.group--colophon {
	a {
		font-weight: $font-semibold;
		margin-right: 15px;
	}
}

.btn--websolute {
	display: flex;
	align-items: center;

	.icon {
		margin-left: 10px;
	}
}

/* NAVS */

.nav--footer {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;

	&>li {

		&>a,
		&>span {
			display: inline-block;
			position: relative;
			font-size: 14px;
			line-height: 32px;
			color: $foreground-secondary;
		}

		&:hover,
		&:active,
		&.active {

			&>a,
			&>span {
				color: black;
			}
		}
	}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}
}

.nav--social {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&>li {

		&>a {
			display: inline-block;
			position: relative;
			font-size: 12px;
			color: $foreground-secondary;
		}

		&:hover,
		&:active,
		&.active {

			&>a {
				color: black;
			}
		}
	}

	&>li+li {
		margin-left: 40px;
	}

	svg {
		max-width: 24px;
		height: 24px;
	}

	span {
		font-size: 0;
	}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}
}

.nav--colophon {
	&>li+li {
		margin-left: 20px;
	}
}
