.section--generic {
	padding: 130px 0;

	.group--cta {
		text-align: left;
	}
}

.section--generic-intro {

	.title {
		font-size: 24px;
		line-height: 36px;
		font-weight: $font-extralight;
		color: $foreground-secondary;
		margin-bottom: 40px;
	}

	.abstract {
		font-size: 18px;
		line-height: 32px;
		font-weight: $font-light;
		margin-bottom: 60px;

		p {
			margin-bottom: 10px;
		}
	}
}

.section--generic-intro-02 {
	padding-top: 140px;
	padding-bottom: 40px;

	.title {
		font-size: 68px;
		line-height: 1.1;
		font-weight: $font-semibold;
		color: $foreground;
		margin-bottom: 60px;
	}

	.abstract {
		font-size: 42px;
		line-height: 1.1;
		font-weight: $font-regular;
		color: $foreground;
		margin-bottom: 60px;

		p {
			margin-bottom: 10px;
		}
	}

	.description {
		margin-bottom: 60px;
	}

	.group--cta {
		text-align: left;
		margin: 0 0 40px 0;
	}

}

.group--generic-info {
	position: sticky;
	top: 100px;

	.title {
		font-size: 14px;
		line-height: 1.5;
		text-transform: uppercase;
		color: $foreground-secondary;
		margin-bottom: 20px;
	}

	.description {
		font-size: 15px;
		line-height: 18px;
		margin-bottom: 50px;
	}

	.icon--pin-outline,
	.icon--project {
		width: 13px;
		height: 16px;
		fill: $foreground;
		margin-right: 10px;
	}

}

[swiper-gallery] {
	.swiper-slide {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		width: auto;
		background: black;

		img {
			transition: opacity ease-in-out 350ms;
			height: calc(100vh - 220px);
			max-height: 500px;
		}

		.title {
			display: none;
		}

		&:not(.swiper-slide-active) {
			img {
				opacity: 0.5;
			}
		}
	}

	.zoomed & {

		.swiper-container {
			display: flex;
			flex-direction: column;

			.swiper-wrapper {
				height: calc(100vh - 60px);
				flex: 1 1 calc(100vh - 60px);
			}

			.swiper-pagination {
				flex: 0 0 auto;
			}
		}

		.swiper-slide {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			// height: calc(100vh - 100px);
			background: white;

			img {
				transition: opacity ease-in-out 350ms;
				width: auto;
				height: auto;
				max-height: calc(100vh - 100px);
			}

			.title {
				display: block;
				position: absolute;
				bottom: 0;
				padding: 10px 10px 0 10px;
				background: white;
				transition: opacity ease-in-out 350ms;
				opacity: 0;
			}

			&:hover {
				.title {
					opacity: 1;
				}
			}
		}

		.swiper-pagination-bullets {
			padding-top: 30px;
		}
	}

}

.section--zoomed-gallery {

	.swiper-container {
		display: flex;
		flex-direction: column;
		height: 100vh;

		.swiper-wrapper {
			height: calc(100vh - 60px);
			flex: 1 1 calc(100vh - 60px);
		}

		.swiper-slide {
			padding-top: 40px;
		}

		.swiper-pagination {
			flex: 0 0 auto;
		}

		.swiper-pagination-bullets {
			padding: 0;
		}
	}

	.picture {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		max-height: calc(100vh - 140px);
	}

	video {
		object-fit: cover;
	}

	@include media-breakpoint-up(sm) {
		.swiper-slide {
			height: calc(100vh - 80px);
		}

		.picture {
			max-width: calc(100vw - 60px);
		}
	}

	@include media-breakpoint-down(xs) {
		.picture {
			max-width: 100vw;
		}

		.overlay {
			transition: none;
		}
	}

}
