.menu {
	display: flex;
	flex: 1 0 100%;

	&>.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.menu--primary {
	order: 2;
	min-height: 92px;
	padding-bottom: 4px;
}

.menu--secondary {
	order: 1;
	background: $background-header;
	min-height: 36px;
}

.nav--primary,
.nav--secondary {
	display: flex;
	justify-content: flex-end;

	&>li {

		&>a,
		&>span {
			display: inline-block;
			position: relative;
			z-index: 1;
		}
	}
}

.nav--primary {
	&>li {

		&>a,
		&>span {
			font-size: 20px;
			font-weight: 400;
			text-transform: uppercase;
			color: $nav-header;
			transition: ease-in-out 350ms;
			transition-property: background-color, color, border, opacity;
			cursor: pointer;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -4px;
				width: 100%;
				height: 2px;
				background: $foreground-negative;
				transform: scale(0, 1);
				transition: all ease-out 350ms;
			}
		}

		&:hover,
		&:active,
		&.active,
		.opened & {

			&>a,
			&>span {
				color: $foreground-negative;

				&:after {
					transform: scale(1, 1);
				}
			}
		}

		&:last-child {
			&>a {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
			}
		}

	}

	&>li+li {
		margin-left: 30px;
	}

	svg {
		fill: $nav-header;
		transition: fill, stroke, opacity ease-in-out 350ms;
	}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {
		&>li {

			&>a,
			&>span {
				font-size: 16px;
			}
		}

		&>li+li {
			margin-left: 15px;
		}
	}
}

.nav--secondary {

	&>li {

		&>a,
		&>span {
			font-size: 13px;
			font-weight: 400;
			color: $nav-header;
			cursor: pointer;
		}

		&:hover,
		&:active,
		&.active {

			&>a,
			&>span {
				color: $foreground-negative;
			}
		}

	}

	&>li+li {
		margin-left: 30px;
	}

	svg {
		fill: $nav-header;
		margin-left: 4px;
	}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}
}

.section--header {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;

	.brand {
		display: block;
		position: relative;
		z-index: 1;
		line-height: 0;
		font-size: 0;

		@include media-breakpoint-down(sm) {}
	}

	.icon--brand {
		width: 210px;
		height: 50px;
	}

	.icon--wishlist {
		width: 16px;
		height: 14px;
	}

	.icon--caret-down {
		width: 12px;
		height: 7px;
	}

	.icon--search {
		width: 20px;
		height: 20px;
	}

	.fixed &,
	.opened & {}

	// transition: transform ease-in-out 350ms;

	&.scrolled {
		background: $background-header;

		.menu--primary {
			// transition: ease-in-out 350ms;
			// transition-property: background-color, color, border, opacity;
			min-height: 62px;
		}

		.nav--primary {
			&>li {

				&>a,
				&>span {
					font-size: 16px;
				}
			}

			svg {
				width: 15px;
			}
		}
	}

	@include media-breakpoint-down(md) {
		.opened & {}

		&,
		&.scrolled {
			.nav--primary {
				svg {
					width: 13px;
					height: 13px;
				}
			}
		}
	}

	@include media-breakpoint-up(sm) {
		&.scrolled {
			transform: translateY(-36px);
		}
	}

	@include media-breakpoint-up(lg) {}

}
