@import "../mixins";

.page {
	display: block;
	position: relative;
	width: 100%;
	min-height: 100vh;
	margin: 0;
	overflow: hidden;

	.view {
		position: relative;
		background: $background;
		min-height: 100vh;
		opacity: 0;
	}

	@include media-breakpoint-up(md) {
		padding: 36px 0 0 0;
	}

	@include media-breakpoint-down(sm) {
		padding: 0;
	}

	@media screen {
		background: black;
	}

	@media print {
		background: white;
	}
}

.wrapper {
	background: $background;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0;
}

.section {
	position: relative;
}

page-transition {
	display: flex;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	z-index: 10000;
	opacity: 0;
	pointer-events: none;
	background: $background;
	transition: all ease-in-out 600ms;

	&.loading {
		transition: none;
		opacity: 1;
	}
}

.spinner {
	display: block;
	width: 40px;
	height: 40px;
	background: red;
	animation: rotating 750ms ease-in-out infinite;
}

@keyframes rotating {
	0% {
		transform: rotate(0deg);
	}

	60% {
		transform: rotate(-90deg);
	}

	100% {
		transform: rotate(-90deg);
	}
}
