.section--product {

	@include media-breakpoint-up(md) {
		z-index: 99;
		min-height: 80px;

		&.sticky {
			[sticky-content] {
				position: fixed;
				width: 100%;
				top: 62px;
				transition: box-shadow ease-in-out 350ms;
				box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.15);
			}
		}
	}

	@include media-breakpoint-down(sm) {
		position: fixed;
		width: 100%;
		height: auto;
		min-height: 60px;
		bottom: 0;
		z-index: 99;
		background: var(--background-tertiary);

		// transition: all ease-in-out 350ms;
		.menu--product {
			/*
			display: flex;
			justify-content: center;
			align-items: center;
			*/
			display: block;
			overflow-x: hidden;
			overflow-y: auto;
			height: 100%;
			-webkit-overflow-scrolling: touch;
			box-shadow: none;
			position: relative;
			top: 0;
		}

		&.opened {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			top: 0;

			.menu--product {
				padding-bottom: 200px;
			}
		}

		&:not(.opened) {
			height: 60px;
			// transform: translateY(100%);
			background: transparent;
			text-align: center;

			.menu--product {
				max-height: 0;
			}

			svg {
				margin-left: 5px;
			}
		}

		/*
		.scrolled-up & {
			&:not(.opened) {
				transform: translateY(0);
			}
		}
		*/
	}
}

.section--intro {
	text-align: center;

	.title {
		line-height: 32px;
		color: $foreground;
	}

	.abstract {
		line-height: 32px;
	}

	@include media-breakpoint-up(sm) {
		padding: 120px 0;

		.icon--logo {
			height: 72px;
			margin-bottom: 70px;
		}

		.title {
			font-size: 24px;
			font-weight: $font-semibold;
		}

		.abstract {
			font-size: 24px;
			font-weight: $font-light;
		}
	}

	@include media-breakpoint-down(xs) {
		padding: 70px 0;

		.icon--logo {
			height: 56px;
			margin-bottom: 56px;
			max-width: 190px;
		}

		.title {
			font-size: 18px;
			font-weight: $font-bold;
		}

		.abstract {
			font-size: 18px;
			font-weight: $font-extralight;
		}

	}

}

.section--vertical-vertical {

	@include media-breakpoint-up(sm) {

		.row>div:nth-child(2) {
			padding-top: 110px;
		}

	}

	@include media-breakpoint-up(sm) {
		padding-bottom: 80px;
	}

	@include media-breakpoint-down(xs) {
		padding-bottom: 40px;

		.row>div:nth-child(2) {
			padding-top: 40px;
		}

	}
}

.section--horizontal-vertical {

	.row>div {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	@include media-breakpoint-up(sm) {
		padding-bottom: 80px;
	}

	@include media-breakpoint-down(xs) {
		padding-bottom: 40px;

		.row>div:nth-child(2) {
			padding-top: 40px;
		}

	}
}

.section--vertical-horizontal {

	.row>div {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	@include media-breakpoint-up(sm) {
		padding-bottom: 80px;
	}

	@include media-breakpoint-down(xs) {
		padding-bottom: 40px;

		.row>div:nth-child(2) {
			padding-top: 40px;
		}

	}
}

.section--horizontal-horizontal {

	@include media-breakpoint-up(sm) {
		padding-bottom: 80px;

		.row>div:nth-child(2) {
			padding-top: 150px;
		}
	}

	@include media-breakpoint-down(xs) {
		padding-bottom: 40px;

		.row>div:nth-child(2) {
			padding-top: 40px;
		}

	}
}

.section--horizontal {
	@include media-breakpoint-up(sm) {
		padding-bottom: 80px;
	}

	@include media-breakpoint-down(xs) {
		padding-bottom: 40px;
	}
}

.section--horizontal-02 {
	@include media-breakpoint-up(sm) {
		padding-bottom: 80px;
	}

	@include media-breakpoint-down(xs) {
		padding-bottom: 40px;
	}
}

.section--text {

	.title {
		color: $foreground;
	}

	@include media-breakpoint-up(sm) {
		padding-bottom: 100px;

		.title {
			font-size: 32px;
			font-weight: $font-light;
			line-height: 50px;
		}

		.abstract {
			margin-top: 80px;
		}

	}

	@include media-breakpoint-down(xs) {
		padding-bottom: 80px;

		.title {
			font-size: 24px;
			font-weight: $font-extralight;
			line-height: 36px;
		}

		.abstract {
			margin-top: 60px;
		}

	}
}

.section--text-02 {
	.title {
		color: $foreground;
		margin-bottom: 30px;
	}

	.abstract {}

	@include media-breakpoint-up(sm) {
		padding-bottom: 100px;

		.title {
			font-size: 42px;
			font-weight: $font-light;
			line-height: 50px;
		}

		.abstract {
			margin-top: 80px;
		}
	}

	@include media-breakpoint-down(xs) {
		padding-bottom: 80px;

		.title {
			font-size: 36px;
			font-weight: $font-regular;
			line-height: 1.2;
		}

		.abstract {
			margin-top: 0;
		}
	}
}

.section--full {
	text-align: center;
	padding-bottom: 80px;

	.background {
		top: 100px;
		height: calc(100% - 100px);
	}

	.group--cta {
		margin-bottom: 0;
	}

	@include media-breakpoint-up(sm) {
		.title {
			font-size: 42px;
			line-height: 1;
			font-weight: $font-light;
			margin-bottom: 30px;
		}
	}

	@include media-breakpoint-down(xs) {
		.picture {
			margin-left: -30px;
			margin-right: -30px;
			width: calc(100% + 60px);
		}

		.title {
			font-size: 36px;
			line-height: 1.2;
			font-weight: $font-semibold;
			margin-bottom: 30px;
		}
	}
}

.section--full-02 {
	// text-align: center;
	padding-bottom: 80px;

	.background {
		top: 100px;
		height: calc(100% - 100px);
	}

	.group--cta {
		text-align: left;
		margin: 20px 0 0 0;
	}

	@include media-breakpoint-up(sm) {
		.title {
			font-size: 20px;
			line-height: 1;
			font-weight: $font-semibold;
			text-transform: uppercase;
			margin: 60px 0 30px 0;
		}
	}

	@include media-breakpoint-down(xs) {
		.picture {
			margin-left: -30px;
			margin-right: -30px;
			width: calc(100% + 60px);
		}

		.title {
			font-size: 36px;
			line-height: 1.2;
			font-weight: $font-semibold;
			margin-bottom: 30px;
		}
	}
}

.with--text {
	padding-bottom: 60px;

	@include media-breakpoint-up(sm) {
		margin-bottom: 140px;

		.picture {
			margin-bottom: 80px;
		}
	}

	@include media-breakpoint-down(xs) {
		margin-bottom: 80px;

		.picture {
			margin-bottom: 40px;
		}
	}
}

.section--tiles {
	text-align: center;

	.category {
		@extend %category;
	}

	.title {
		color: $foreground;
	}

	.control-tiles {

		@include media-breakpoint-up(sm) {
			display: none;
		}

		i {
			margin: 0 10px;
			font-size: 24px;
		}
	}

	@include media-breakpoint-up(sm) {
		padding-top: 120px;

		.title {
			font-size: 42px;
			line-height: 50px;
			margin-bottom: 90px;
		}
	}

	@include media-breakpoint-down(xs) {
		padding-top: 70px;

		.title {
			font-size: 36px;
			font-weight: $font-regular;
			line-height: 1.2;
			margin-bottom: 40px;
		}
	}
}

.section--decor-tiles {
	text-align: center;

	.category {
		@extend %category;
	}

	.title {
		color: $foreground;
	}

	@include media-breakpoint-up(sm) {
		padding-top: 120px;

		.title {
			font-size: 42px;
			line-height: 50px;
			margin-bottom: 90px;
		}
	}

	@include media-breakpoint-down(xs) {
		padding-top: 70px;

		.title {
			font-size: 36px;
			font-weight: $font-regular;
			line-height: 1.2;
			margin-bottom: 40px;
		}
	}
}

.section--decor-tiles+.section--decor-tiles {
	border-top: 2px solid $border;
}

.section--trim-tiles {
	text-align: center;

	.category {
		@extend %category;
	}

	.title {
		color: $foreground;
	}

	@include media-breakpoint-up(sm) {
		padding-top: 120px;

		.title {
			font-size: 42px;
			line-height: 50px;
			margin-bottom: 90px;
		}
	}

	@include media-breakpoint-down(xs) {
		padding-top: 70px;

		.title {
			font-size: 36px;
			font-weight: $font-regular;
			line-height: 1.2;
			margin-bottom: 40px;
		}
	}
}

.section--sizes {
	text-align: center;

	.category {
		@extend %category;
	}

	.title {
		color: $foreground;
	}

	@include media-breakpoint-up(sm) {
		padding-top: 120px;

		.title {
			font-size: 42px;
			line-height: 50px;
			margin-bottom: 90px;
		}
	}

	@include media-breakpoint-down(xs) {
		padding-top: 80px;

		.title {
			font-size: 36px;
			line-height: 1.2;
			margin-bottom: 40px;
		}
	}
}

.section--technical-info {
	border-top: 2px solid $border;
	margin-top: 90px;
	padding: 90px 0;
	text-align: center;

	.title {
		font-size: 42px;
		line-height: 50px;
		margin-bottom: 40px;
		color: $foreground;
	}

	.abstract {
		margin-bottom: 40px;
	}

}

.section--store {

	.title {
		color: $foreground;
	}

	.abstract {
		margin-bottom: 40px;
	}

	.description {
		margin-bottom: 40px;
	}

	.category {
		@extend %category;
	}

	.name {
		font-weight: $font-semibold;
	}

	@include media-breakpoint-up(md) {
		.group--cta {
			text-align: left;
		}
	}

	&:not(.section--distinct) {
		border-top: 2px solid $border;

		@include media-breakpoint-down(sm) {

			&,
			.group--cta {
				text-align: center;
			}
		}
	}

	@include media-breakpoint-up(sm) {
		padding: 50px 0;

		&.section--distinct {
			padding: 120px 0;
		}

		.title {
			font-size: 42px;
			line-height: 50px;
			margin-bottom: 40px;
		}
	}

	@include media-breakpoint-down(xs) {
		padding: 50px 0 0 0;

		&.section--distinct {
			padding: 60px 0;
		}

		.title {
			font-size: 36px;
			line-height: 1.2;
			margin-bottom: 40px;
		}

		.group--cta {
			display: block;

			&>.btn:not(:last-child) {
				margin-right: 15px;
			}

			&>.btn+.btn {
				margin-top: 0;
			}
		}

		.picture {
			margin-left: -30px;
			margin-right: -30px;
			width: calc(100% + 60px);
			box-shadow: none;
		}
	}

}

.section--download {
	text-align: center;

	.title {
		margin-bottom: 40px;
		color: $foreground;
	}

	@include media-breakpoint-up(sm) {
		padding: 140px 0;

		.title {
			font-size: 42px;
			line-height: 50px;
		}
	}

	@include media-breakpoint-down(xs) {
		padding: 100px 0 60px 0;
		text-align: left;

		.title {
			font-size: 36px;
			line-height: 1.2;
		}

		.group--cta {
			text-align: left;
			align-items: flex-start;
			margin: 0 0 40px 0;
		}
	}

}

.variant--02 {
	background: $background-tertiary;
	color: $primary;
}

.section--intro-centered {
	text-align: center;

	.category {
		@extend %category;
	}

	.title {
		color: $foreground;
	}

	.abstract {
		line-height: 32px;
		font-weight: $font-light;

		p {
			margin-bottom: 10px;
		}
	}

	@include media-breakpoint-up(sm) {
		padding-top: 120px;

		.title {
			font-size: 42px;
			line-height: 50px;
			margin-bottom: 90px;
		}

		.abstract {
			font-size: 18px;
			margin-bottom: 50px;
		}
	}

	@include media-breakpoint-down(md) {
		padding-top: 80px;

		.title {
			font-size: 36px;
			line-height: 1.2;
			margin-bottom: 40px;
		}

		.abstract {
			font-size: 16px;
			margin-bottom: 50px;
		}
	}
}
