.section--product {
	z-index: 100;

	&.sticky {
		[sticky-content] {
			transition: box-shadow ease-in-out 350ms;
			box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.15);
		}
	}
}

.section--intro {
	padding: 120px 0;
	text-align: center;

	.icon--logo {
		height: 72px;
		margin-bottom: 70px;
	}

	.title {
		font-size: 24px;
		line-height: 32px;
		font-weight: 400;
		color: $foreground;
	}

	.abstract {
		font-size: 24px;
		line-height: 32px;
		font-weight: 300;
	}
}

.section--vertical-vertical {
	.row>div:nth-child(2) {
		padding-top: 110px;
	}

	padding-bottom: 80px;
}

.section--horizontal-vertical {
	.row>div {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	padding-bottom: 80px;
}

.section--horizontal-horizontal {
	.row>div:nth-child(2) {
		padding-top: 150px;
	}

	padding-bottom: 80px;
}

.section--horizontal {
	padding-bottom: 80px;
}

.section--horizontal-02 {
	padding-bottom: 80px;
}

.section--vertical-horizontal {
	.row>div {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	padding-bottom: 80px;
}

.section--text {
	padding-bottom: 100px;

	.title {
		font-size: 32px;
		font-weight: 300;
		line-height: 50px;
		color: $foreground;
	}

	.abstract {
		margin-top: 80px;
	}
}

.section--text-02 {
	padding-bottom: 100px;

	.title {
		font-size: 42px;
		font-weight: 300;
		line-height: 50px;
		color: $foreground;
		margin-bottom: 30px;
	}

	.abstract {
		margin-top: 80px;
	}
}

.section--full {
	text-align: center;
	padding-bottom: 80px;

	.background {
		top: 100px;
		height: calc(100% - 100px);
	}

	.picture {
		margin-bottom: 80px;
	}

	.title {
		font-size: 42px;
		font-weight: 300;
		line-height: 1;
		margin-bottom: 30px;
	}

	.abstract {}
}

.with--text {
	padding-bottom: 60px;
	margin-bottom: 140px;
}

.section--negative {
	color: $foreground-negative;
}

.section--distinct {
	padding-top: 130px;
	background: $background-tertiary;
}

.section--distinct+.section--distinct {
	padding-top: 0;
}

.section--tiles {
	padding-top: 120px;
	text-align: center;

	.category {
		font-size: 14px;
		line-height: 32px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.title {
		font-size: 42px;
		line-height: 50px;
		margin-bottom: 90px;
		color: $foreground;
	}

}

.section--decor-tiles {
	padding-top: 120px;
	text-align: center;

	.category {
		font-size: 14px;
		line-height: 32px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.title {
		font-size: 42px;
		line-height: 50px;
		margin-bottom: 90px;
		color: $foreground;
	}

}

.section--trim-tiles {
	padding-top: 120px;
	text-align: center;

	.category {
		font-size: 14px;
		line-height: 32px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.title {
		font-size: 42px;
		line-height: 50px;
		margin-bottom: 90px;
		color: $foreground;
	}

}

.section--sizes {
	padding-top: 120px;
	text-align: center;

	.category {
		font-size: 14px;
		line-height: 32px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.title {
		font-size: 42px;
		line-height: 50px;
		margin-bottom: 90px;
		color: $foreground;
	}

}

.section--tile {
	.tile {
		padding: 160px 160px 0 160px;
	}

	.picture {
		position: relative;
		overflow: visible;

		.width,
		.height {
			position: absolute;
			background: $background-tilesize;

			&>span {
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				font-size: 30px;
				font-weight: 100;
				white-space: nowrap;
				color: $foreground-tilesize;
			}
		}

		.width {
			display: block;
			width: 100%;
			height: 1px;
			top: -50px;

			&>span {
				transform: translateX(-50%) translateY(-60px);
			}
		}

		.height {
			display: block;
			width: 1px;
			height: 100%;
			left: -50px;
			top: 0;

			&>span {
				transform: translateX(-90px) translateY(-50%) rotateZ(-90deg);
			}
		}
	}


	$widths: 278 120 240 75 150 30 60 90;
	$heights: 120 120 120 75 75 60 60 45;

	@each $w in $widths {
		$i: index($widths, $w);
		$h: nth($heights, $i);

		.aspect--#{$w}x#{$h} {
			&>.picture {
				@include aspect-clip($w, $h);
				width: 100%;
				overflow: visible;

				&>img {
					width: 100%;
					object-fit: cover;
				}
			}
		}
	}

}

.section--store {
	border-top: 2px solid #e6e2df;
	padding: 50px 0;

	.title {
		font-size: 42px;
		line-height: 50px;
		margin-bottom: 40px;
		color: $foreground;
	}

	.abstract {
		margin-bottom: 40px;
	}

	.category {
		font-size: 14px;
		line-height: 32px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.name {
		font-weight: 600;
	}

	.group--cta {
		text-align: left;
	}

}

.section--download {
	text-align: center;
	padding: 140px 0;

	.title {
		font-size: 42px;
		line-height: 50px;
		margin-bottom: 40px;
		color: $foreground;
	}
}

.section--beinspired {
	text-align: center;
	padding: 170px 0 90px 0;

	.title {
		font-size: 42px;
		line-height: 50px;
		margin-bottom: 40px;
		color: $foreground;
	}
}

.variant--02 {
	background: $background-tertiary;
	color: $primary;
}

.section--intro-center {
	padding-top: 120px;
	text-align: center;

	.category {
		font-size: 14px;
		line-height: 32px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.title {
		font-size: 42px;
		line-height: 50px;
		margin-bottom: 90px;
		color: $foreground;
	}

}
