.section--tile {

	.swiper-container {
		overflow: visible;
	}

	.swiper-pagination-bullets,
	.swiper-container-horizontal>.swiper-pagination-bullets {
		background: none;
	}

	.tile {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.picture {
		position: relative;
		overflow: visible;
		background: none;

		img {
			display: block;
		}

		.width,
		.height {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $background-tilesize;

			&>span {
				display: block;
				font-size: 20px;
				font-weight: 100;
				white-space: nowrap;
				color: $foreground-tilesize;
			}
		}

		.width {
			width: 100%;
			height: 1px;
			top: -3vh;

			&>span {
				transform: translateY(-20px)
			}
		}

		.height {
			width: 1px;
			height: 100%;
			left: -3vh;
			top: 0;

			&>span {
				transform: rotateZ(-90deg) translateY(-20px)
			}
		}
	}

	.title {
		color: $foreground;
		margin-top: 40px;
	}

	.abstract {
		margin-bottom: 20px;
	}

	.description {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.category {
		@extend %category;
		/*
		font-size: 15px;
		text-transform: uppercase;
		padding-bottom: 50px;
		color: $foreground-secondary;
		*/
	}

	.icon--made-in-italy {
		width: 161px;
		height: 9px;
		margin-bottom: 60px;
	}

	.made-in {
		margin-bottom: 50px;
	}

	@include media-breakpoint-up(md) {

		.tile {
			margin: 10vh 10vh 20px 10vh;
		}

		.swiper-container {
			.tile {
				margin: 10vh 10vh 0 10vh;
				max-height: calc(80vh - 250px);
				height: 100vh;
			}
		}

		.picture {
			img {
				max-width: 760px;
				max-height: calc(80vh - 320px);
				object-fit: contain;
			}
		}

		.title {
			font-size: 40px;
			font-weight: $font-light;
			line-height: 0.9;
		}

		.abstract {
			font-size: 40px;
			font-weight: $font-extralight;
		}
	}

	@include media-breakpoint-down(sm) {

		.swiper-container {
			margin-left: -30px;
			margin-right: -30px;
			width: calc(100% + 60px);
			margin-top: 30px;

			&>.row {
				min-width: calc(100% - 30px);
				margin: 0 15px;
				width: calc(100% - 30px);
			}
		}

		.swiper-slide {
			padding: 0 30px;
		}

		.tile {
			margin: 40px 0 20px 0;
		}

		.swiper-container {
			.tile {
				margin: 0;
				height: calc(100vw - 60px);
			}
		}

		.picture {

			.width,
			.height {

				// background: none;
				&>span {
					font-size: 15px;
					font-weight: bold;
				}
			}

			.width {
				height: 1px;
				top: -5px;

				&>span {
					transform: translateY(-10px);
				}
			}

			.height {
				left: -5px;

				&>span {
					transform: rotateZ(-90deg) translateY(-10px);
				}
			}
		}

		.title {
			font-size: 36px;
			font-weight: $font-semibold;
			line-height: 1.2;
		}

		.abstract {
			font-size: 36px;
			font-weight: $font-extralight;
			line-height: 1.2;
		}
	}

	[zoomable] {

		&.zoomed {

			@include media-breakpoint-up(sm) {

				.group--tile {
					padding: 0;
				}

				.tile {
					margin: 0;
					min-height: calc(100vh - 120px);
				}

				.picture {

					.width,
					.height {
						display: none;
					}

					img {
						height: auto;
						max-width: calc(100vw - 120px);
						max-height: calc(100vh - 250px);
					}
				}
			}
		}
	}
}
