<section class="section section--download section--distinct" id="downloads">
	<div class="container">
		<div class="title">Download</div>
		<div class="row">
			<div class="col-md-12 offset-md-2">
				<div class="group group--cta" appear>
					<a href="#" class="btn btn--download">
						<svg class="icon icon--pdf"><use xlink:href="#pdf"></use></svg> <span><span>Pdf Catalog</span></span>
					</a>
					<a href="#" class="btn btn--download">
						<svg class="icon icon--pdf"><use xlink:href="#pdf"></use></svg> <span><span>Digital Publishing</span></span>
					</a>
					<a href="#" class="btn btn--download">
						<svg class="icon icon--pdf"><use xlink:href="#pdf"></use></svg> <span><span>Technical Features Porcelain Tiles</span></span>
					</a>
					<a href="#" class="btn btn--download">
						<svg class="icon icon--pdf"><use xlink:href="#pdf"></use></svg> <span><span>Technical Features Wall Tiles</span></span>
					</a>
				</div>
				<div class="group group--cta" appear>
					<wishlist item="{ id: 1, colId: 1 }"><span>add <b>Marvel Edge</b> to my wishlist</span></wishlist>
				</div>
			</div>
		</div>
	</div>
</section>
