<footer class="section--footer">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-12">
				<div class="row">
					<div class="col-8 col-sm-4" appear>
						<div class="category">Collections</div>
						<ul class="nav nav--footer">
							<li data-component-id="2155"><a href="/en/collections/">Porcelain tiles</a></li>
							<li data-component-id="2156"><a href="/en/collections/">Wall tiles</a></li>
							<li data-component-id="2157"><a href="/en/collections/outdoor-design/">Outdoor tiles</a></li>
							<li data-component-id="2159"><a href="/en/collections/marble-look-collection/">Marvel World</a></li>
							<li data-component-id="2160"><a href="/en/collections/xl-large-size/">XL - Extra-Large tiles</a></li>
							<li data-component-id="2158"><a href="/en/collections/ac/3d-wall-design/">3D Wall Design</a></li>
						</ul>
					</div>
					<div class="col-8 col-sm-4 offset-sm-1" appear>
						<div class="category">Projects</div>
						<ul class="nav nav--footer">
							<li data-component-id="2161"><a href="/en/our-references/?q=eyJmaWx0ZXJzIjp7ImNhdGVnb3JpZXMiOiJJQiJ9fQ%3D%3D">Hospitality</a></li>
							<li data-component-id="2163"><a href="/en/our-references/?q=eyJmaWx0ZXJzIjp7ImNhdGVnb3JpZXMiOiJJQyJ9fQ%3D%3D">Shopping malls and stores</a></li>
							<li data-component-id="2164"><a href="/en/our-references/?q=eyJmaWx0ZXJzIjp7ImNhdGVnb3JpZXMiOiJJRCJ9fQ%3D%3D">Offices and companies</a></li>
							<li data-component-id="2165"><a href="/en/our-references/?q=eyJmaWx0ZXJzIjp7ImNhdGVnb3JpZXMiOiJJQSJ9fQ%3D%3D">Residential</a></li>
							<li data-component-id="2166"><a href="/en/our-references/?q=eyJmaWx0ZXJzIjp7ImNhdGVnb3JpZXMiOiJJRSJ9fQ%3D%3D ">Public Spaces</a></li>
							<li data-component-id="2167"><a href="/en/our-references/?q=eyJmaWx0ZXJzIjp7ImNhdGVnb3JpZXMiOiJJRiJ9fQ%3D%3D">Outdoor & Garden</a></li>
						</ul>
					</div>
					<div class="col-8 col-sm-4 offset-sm-1" appear>
						<div class="category">Company</div>
						<ul class="nav nav--footer">
							<li data-component-id="2168"><a href="/en/company/about-us/">About us</a></li>
							<li data-component-id="2169"><a href="/en/company/collection/">What we do</a></li>
							<li data-component-id="2171"><a href="/en/company/showroom-19/">Showroom</a></li>
							<li data-component-id="2172"><a href="/en/company/quality/">Ethics&Green</a></li>
							<li data-component-id="2173"><a href="/en/faq/">Faq</a></li>
							<li data-component-id="2170"><a href="/en/company/ceramic-a-safe-choice/">Ceramic. A safe choice</a></li>
						</ul>
					</div>
					<div class="col-8 col-sm-4" appear>
						<div class="category">Looks</div>
						<ul class="nav nav--footer">
							<li data-component-id="2174"><a href="/en/collections/?q=eyJmaWx0ZXJzIjp7Imxvb2tzIjoyODEzfX0%3D">Concrete</a></li>
							<li data-component-id="2175"><a href="/en/collections/?q=eyJmaWx0ZXJzIjp7Imxvb2tzIjoyODExfX0%3D">Marble</a></li>
							<li data-component-id="2176"><a href="/en/collections/?q=eyJmaWx0ZXJzIjp7Imxvb2tzIjoyODEyfX0%3D">Stone</a></li>
							<li data-component-id="2177"><a href="/en/collections/?q=eyJmaWx0ZXJzIjp7Imxvb2tzIjoyODEwfX0%3D">Wood</a></li>
							<li data-component-id="13909"><a href="/en/collections/?q=eyJmaWx0ZXJzIjp7Imxvb2tzIjoyODE1fX0%3D">Colour</a></li>
						</ul>
					</div>
					<div class="col-8 col-sm-4 offset-sm-1" appear>
						<div class="category">Applications</div>
						<ul class="nav nav--footer">
							<li data-component-id="2178"><a href="/en/our-references/?q=eyJmaWx0ZXJzIjp7ImNhdGVnb3JpZXMiOiJJQSJ9fQ%3D%3D">Living</a></li>
							<li data-component-id="2179"><a href="/en/our-references/?q=eyJmaWx0ZXJzIjp7ImNhdGVnb3JpZXMiOiJJQSJ9fQ%3D%3D">Kitchen</a></li>
							<li data-component-id="2180"><a href="/en/our-references/?q=eyJmaWx0ZXJzIjp7ImNhdGVnb3JpZXMiOiJJQSJ9fQ%3D%3D">Bathroom</a></li>
							<li data-component-id="13910"><a href="/en/our-references/?q=eyJmaWx0ZXJzIjp7ImNhdGVnb3JpZXMiOiJJQiJ9fQ%3D%3D">Hotel</a></li>
							<li data-component-id="13911"><a href="/en/our-references/?q=eyJmaWx0ZXJzIjp7ImNhdGVnb3JpZXMiOiJJQiJ9fQ%3D%3D">Restaurant</a></li>
							<li data-component-id="13912"><a href="/en/our-references/?q=eyJmaWx0ZXJzIjp7ImNhdGVnb3JpZXMiOiJJQyJ9fQ%3D%3D">Stores</a></li>
						</ul>
					</div>
					<div class="col-8 col-sm-4 offset-sm-1" appear>
						<div class="category">Contacts</div>
						<ul class="nav nav--footer">
							<li data-component-id="2181"><a href="/en/contacts/">Sales enquiries</a></li>
							<li data-component-id="2182"><a href="/en/contacts/">Technical support</a></li>
							<li data-component-id="2183"><a href="http://www.gruppoconcorde.it/lavora-con-noi/">Work with us</a></li>
							<li data-component-id="2184"><a href="/en/store-locator/">Stores</a></li>
							<li data-component-id="17181"><a href="https://myatlas.gruppoconcorde.it/">My Atlas</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4" appear>
				<div class="category">Newsletter</div>
				<div class="title"><b>Atlas Concorde.</b><br />Ceramic solutions for every need.</div>
				<form action="/en/newsletter-subscribe/" id="formnl" name="formnl" method="get">
					<div class="group group--control">
						<input class="control control--newsletter" id="email" name="email" placeholder="Enter your email" />
						<button type="submit">
							<svg class="icon icon--email">
                                <use xlink:href="#email"></use>
                            </svg>
						</button>
					</div>
				</form>
				<div class="category">Follow Us</div>
				<ul class="nav nav--social">
					<li>
						<a href="https://www.facebook.com/atlas.concorde/" target="_blank" rel="noreferrer">
							<svg class="icon icon--facebook">
                                <use xlink:href="#facebook"></use>
                            </svg>
							<span>Facebook</span>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/atlasconcorde/" target="_blank" rel="noreferrer">
							<svg class="icon icon--instagram">
                                <use xlink:href="#instagram"></use>
                            </svg>
							<span>Instagram</span>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/user/atlasconcorde" target="_blank" rel="noreferrer">
							<svg class="icon icon--youtube">
                                <use xlink:href="#youtube"></use>
                            </svg>
							<span>Youtube</span>
						</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/company/atlas-concorde/" target="_blank" rel="noreferrer">
							<svg class="icon icon--linkedin">
                                <use xlink:href="#linkedin"></use>
                            </svg>
							<span>LinkedIn</span>
						</a>
					</li>
					<li>
						<a href="https://www.pinterest.it/atlasconcorde/" target="_blank" rel="noreferrer">
							<svg class="icon icon--pinterest">
                                <use xlink:href="#pinterest"></use>
                            </svg>
							<span>Pinterest</span>
						</a>
					</li>
					<li>
						<a href="https://www.houzz.it/pro/atlasconcorde/" target="_blank" rel="noreferrer">
							<svg class="icon icon--houzz">
                                <use xlink:href="#houzz"></use>
                            </svg>
							<span>Houzz</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="colophon--primary" appear>
			<div class="group group--colophon">
				<a href="/en/"><span>© Ceramiche Atlas Concorde S.p.A.</span></a>
				<span> Soc. Cap. Euro 6,032,000 fully paid Bus. Reg. of Mo no. 01282550365 R.E.A. no. 202376 Export Mo 011971</span>
				<span>Fiscal Code and VAT Code 01282550365</span>
			</div>
			<div class="group group--credits">
				<a href="https://www.websolute.com" class="btn btn--websolute"><span>Websolute</span>
					<svg class="icon icon--websolute">
                        <use xlink:href="#websolute"></use>
                    </svg></a>
			</div>
		</div>
		<div class="colophon--secondary" appear>
			<ul class="nav nav--colophon">
				<li><a href="/en/legal-notice/">Legal notes</a></li>
				<li><a href="/en/privacy-information/">Privacy policy</a></li>
				<li><a href="/en/cookie_policy/">Cookie policy</a></li>
				<li><a href="/en/general-sales-conditions/">General Sales Conditions</a></li>
			</ul>
		</div>
	</div>
</footer>

<section class="section section--gallery" ng-if="gallery">
	<div class="zoomable" zoomable ng-class="{ zoomed: zoomed }" zoomed>
		<div class="zoomable__content">
			<div class="swiper-container" swiper-gallery initial-slide="{{gallery.index}}" no-loop>
				<div class="swiper-wrapper">
					<div class="swiper-slide" ng-class="{ 'swiper-slide--video': item.type == 'video' }" ng-repeat="item in gallery.items">
						<div class="picture" ng-if="item.type == 'video'">
							<div data-thron="{{item.src}}" controls></div>
						</div>
						<div class="picture zoomable__trigger" ng-if="item.type == 'media'">
							<img ng-src="{{item.src}}" alt="{{item.title}}" data-object-fit="contain" />
						</div>
						<div class="title" ng-if="item.type == 'media' && item.title" ng-bind="item.title"></div>
					</div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination swiper-pagination-black"></div>
				<!-- Add Navigation -->
				<div class="swiper-button-prev swiper-button-black"></div>
				<div class="swiper-button-next swiper-button-black"></div>
			</div>
		</div>
		<div class="zoomable__close"><svg class="icon icon--close"><use xlink:href="#close"></use></svg></div>
	</div>
</section>
