<section class="section section--breadcrumb hidden-sm-down">
	<div class="container-fluid">
		<ul class="nav nav--breadcrumb">
			<li><a href="/atlas/index.html">Home</a></li>
			<li><a href="/atlas/collections.html">Collections</a></li>
			<li><a href="/atlas/collections.html">Atlas Concorde</a></li>
			<li><a href="/atlas/product-project.html">Marvel Edge</a></li>
			<li><a href="/atlas/product-spaces.html">Spaces</a></li>
		</ul>
		<!-- SOCIAL SHARE -->
		<div class="btn--group">
			<div class="btn btn--share">
				<span class="label">Share</span> <span class="addthis_inline_share_toolbox"></span>
			</div>
		</div>
	</div>
</section>
