<section class="section section--store" visibility="Section Store">
	<div class="container">
		<div class="row"> </div>
		<div class="row">
			<div class="col-md-4 offset-md-2" appear>
				<div class="title">We are nearby. Visit the store.</div>
				<div class="abstract">Go the sales outlet section and find your nearest Atlas Concorde dealer.</div>
				<div class="group group--cta" appear>
					<a id="sectionstore-search" href="/en/store-locator/" class="btn btn--link">
						<span>Find a dealer</span>
					</a>
				</div>
			</div>
			<div class="col-sm-14 offset-sm-1 col-md-9 offset-md-1">
				<div class="picture picture--horizontal" parallax appear>
					<img lazy data-src="/atlas/img/store/01.jpg">
				</div>
			</div>
		</div>
	</div>
</section>
