<section class="section section--submenu section--negative" dropdown>
	<div class="container">
		<div class="menu--restyle">
			<div class="row">
				<div class="col-md-7">
					<div class="ricerca-per-effetto">
						<div class="tit">Una selezione di progetti con prodotti Atlas Concorde</div>
						<ul>
							<li> <a href="/atlas/references.html?q=eyJmaWx0ZXJzIjp7ImNhdGVnb3JpZXMiOiJJQSJ9fQ%3D%3D" class="submenu__item">
									<div class="title"> Residenziale </div>
								</a> </li>
							<li> <a href="/atlas/references.html?q=eyJmaWx0ZXJzIjp7ImNhdGVnb3JpZXMiOiJJQiJ9fQ%3D%3D" class="submenu__item">
									<div class="title"> Ospitalit&#224; </div>
								</a> </li>
							<li> <a href="/atlas/references.html?q=eyJmaWx0ZXJzIjp7ImNhdGVnb3JpZXMiOiJJQyJ9fQ%3D%3D" class="submenu__item">
									<div class="title"> Centri Commerciali e Negozi </div>
								</a> </li>
							<li> <a href="/atlas/references.html?q=eyJmaWx0ZXJzIjp7ImNhdGVnb3JpZXMiOiJJRCJ9fQ%3D%3D" class="submenu__item">
									<div class="title"> Uffici e Aziende </div>
								</a> </li>
							<li> <a href="/atlas/references.html?q=eyJmaWx0ZXJzIjp7ImNhdGVnb3JpZXMiOiJJRSJ9fQ%3D%3D" class="submenu__item">
									<div class="title"> Spazi pubblici </div>
								</a> </li>
							<li> <a href="/atlas/references.html?q=" class="submenu__item">
									<div class="title"> Spazi esterni </div>
								</a> </li>
						</ul>
					</div>
				</div>
				<div class="col-md-9">
					<div class="lanci-hp">
						<div class="box"> <a href="/atlas/references.html" class="submenu__item" data-component-id="2204">
								<div class="title">Le nostre referenze</div>
								<div class="picture picture--horizontal"> <img lazy data-src="/media/immagini/134_n_01.jpg" alt="Le nostre referenze" class="nav--primary--image" /> </div>
							</a> </div>
						<div class="box"> <a href="/it/contract-division/" class="submenu__item" data-component-id="2205">
								<div class="title">Contract</div>
								<div class="picture picture--horizontal"> <img lazy data-src="https://gruppoconcorde-cdn.thron.com/delivery/public/image/gruppoconcorde/eeaa9206-2cd9-48ad-a589-b3aa5f9f98a4/yz1hpd/std/0x0/AtlasConcorde_Luisa Spagnoli Milano_Italia_006.jpg" alt="Contract" class="nav--primary--image" /> </div>
							</a> </div>
						<div class="box"> <a href="/it/engineering/" class="submenu__item" data-component-id="2206">
								<div class="title">Engineering</div>
								<div class="picture picture--horizontal"> <img lazy data-src="https://gruppoconcorde-cdn.thron.com/delivery/public/image/gruppoconcorde/cdc85d2e-b715-456b-bcee-6a44a47c7de8/yz1hpd/std/0x0/AtlasConcorde_Yeosu Expo Theme Pavillion_Korea_001.jpg" alt="Engineering" class="nav--primary--image" /> </div>
							</a> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
