<section class="section section--submenu section--negative" dropdown>
	<div class="container">
		<div class="menu--restyle">
			<div class="row">
				<div class="col-md-7">
					<div class="ricerca-per-effetto">
						<div class="tit">Esplora le gallerie per ambiente</div>
						<ul>
							<li> <a href="/atlas/creative-gallery.html?q=eyJmaWx0ZXJzIjp7InJvb21zIjoibGk6Mjg4In19" class="submenu__item">
									<div class="title"> Living </div>
								</a> </li>
							<li> <a href="/atlas/creative-gallery.html?q=eyJmaWx0ZXJzIjp7InJvb21zIjoibGk6Mjg5In19" class="submenu__item">
									<div class="title"> Stanza da letto </div>
								</a> </li>
							<li> <a href="/atlas/creative-gallery.html?q=eyJmaWx0ZXJzIjp7InJvb21zIjoibGk6Mjg3In19" class="submenu__item">
									<div class="title"> Bagno </div>
								</a> </li>
							<li> <a href="/atlas/creative-gallery.html?q=eyJmaWx0ZXJzIjp7InJvb21zIjoibGk6MjkwIn19" class="submenu__item">
									<div class="title"> Cucina </div>
								</a> </li>
							<li> <a href="/atlas/creative-gallery.html?q=eyJmaWx0ZXJzIjp7InJvb21zIjoibGk6MjkxIn19" class="submenu__item">
									<div class="title"> Hotel </div>
								</a> </li>
							<li> <a href="/atlas/creative-gallery.html?q=eyJmaWx0ZXJzIjp7InJvb21zIjoibGk6MjkyIn19" class="submenu__item">
									<div class="title"> Ristorante </div>
								</a> </li>
							<li> <a href="/atlas/creative-gallery.html?q=eyJmaWx0ZXJzIjp7InJvb21zIjoibGk6MjkzIn19" class="submenu__item">
									<div class="title"> Bar </div>
								</a> </li>
							<li> <a href="/atlas/creative-gallery.html?q=eyJmaWx0ZXJzIjp7InJvb21zIjoibGk6Mjk0In19" class="submenu__item">
									<div class="title"> Centro Benessere </div>
								</a> </li>
							<li> <a href="/atlas/creative-gallery.html?q=eyJmaWx0ZXJzIjp7InJvb21zIjoibGk6Mjk1In19" class="submenu__item">
									<div class="title"> Negozio </div>
								</a> </li>
							<li> <a href="/atlas/creative-gallery.html?q=eyJmaWx0ZXJzIjp7InJvb21zIjoibGk6Mjk2In19" class="submenu__item">
									<div class="title"> Centro Commerciale </div>
								</a> </li>
							<li> <a href="/atlas/creative-gallery.html?q=eyJmaWx0ZXJzIjp7InJvb21zIjoibGk6Mjk3In19" class="submenu__item">
									<div class="title"> Spazi Retail </div>
								</a> </li>
						</ul>
					</div>
				</div>
				<div class="col-md-9">
					<div class="lanci-hp">
						<div class="box"> <a href="/it/magazine/" class="submenu__item" data-component-id="2201">
								<div class="title">Magazine</div>
								<div class="picture picture--horizontal"> <img lazy data-src="https://gruppoconcorde-cdn.thron.com/delivery/public/image/gruppoconcorde/9e25b418-901d-4ffb-a7e1-98619294c14f/yz1hpd/std/0x0/AtlasConcorde_Boost_M01_24.jpg" alt="Magazine" class="nav--primary--image" /> </div>
							</a> </div>
						<div class="box"> <a href="/atlas/creative-gallery.html" class="submenu__item" data-component-id="2202">
								<div class="title">Gallerie ambienti</div>
								<div class="picture picture--horizontal"> <img lazy data-src="https://gruppoconcorde-cdn.thron.com/delivery/public/image/gruppoconcorde/07304af3-6b58-4723-b39e-498668dfcce9/yz1hpd/std/0x0/AtlasConcorde_MarvelDream_004_00_Ultramarine.jpg" alt="Gallerie ambienti" class="nav--primary--image" /> </div>
							</a> </div>
						<div class="box"> <a href="/it/find-your-inspiration/" class="submenu__item" data-component-id="2203">
								<div class="title">Trova la tua ispirazione</div>
								<div class="picture picture--horizontal"> <img lazy data-src="https://gruppoconcorde-cdn.thron.com/delivery/public/image/gruppoconcorde/cec7d87e-6623-43f4-9757-17446d5f2f30/yz1hpd/std/0x0/AtlasConcorde_MarvelEdge_M01_08.jpg" alt="Trova la tua ispirazione" class="nav--primary--image" /> </div>
							</a> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
