<section class="section section--submenu section--negative" dropdown>
	<div class="container">
		<div class="menu--restyle">
			<div class="row">
				<div class="col-md-7">
					<div class="atlas-collezioni">
						<div class="tit">Atlas Concorde</div> <a href="/atlas/collections.html" class="submenu__item">
							<div class="title"> Tutte le collezioni </div>
						</a>
					</div>
					<div class="ricerca-per-effetto">
						<div class="tit">Ricerca le collezioni per effetto</div>
						<ul>
							<li> <a href="/atlas/collections.html?q=eyJmaWx0ZXJzIjp7Imxvb2tzIjoyODExfX0%3D" class="submenu__item">
									<div class="title"> Effetto marmo </div>
								</a> </li>
							<li> <a href="/atlas/collections.html?q=eyJmaWx0ZXJzIjp7Imxvb2tzIjoyODEwfX0%3D" class="submenu__item">
									<div class="title"> Effetto legno </div>
								</a> </li>
							<li> <a href="/atlas/collections.html?q=eyJmaWx0ZXJzIjp7Imxvb2tzIjoyODE1fX0%3D" class="submenu__item">
									<div class="title"> Colore </div>
								</a> </li>
							<li> <a href="/atlas/collections.html?q=eyJmaWx0ZXJzIjp7Imxvb2tzIjoyODEyfX0%3D" class="submenu__item">
									<div class="title"> Effetto pietra </div>
								</a> </li>
							<li> <a href="/atlas/collections.html?q=eyJmaWx0ZXJzIjp7Imxvb2tzIjozNjQ4fX0%3D" class="submenu__item">
									<div class="title"> Effetto metallo </div>
								</a> </li>
							<li> <a href="/atlas/collections.html?q=eyJmaWx0ZXJzIjp7Imxvb2tzIjoyODE2fX0%3D" class="submenu__item">
									<div class="title"> 3d wall &amp; decor </div>
								</a> </li>
							<li> <a href="/atlas/collections.html?q=eyJmaWx0ZXJzIjp7Imxvb2tzIjoyODEzfX0%3D" class="submenu__item">
									<div class="title"> Effetto cemento </div>
								</a> </li>
							<li> <a href="/atlas/collections.html?q=eyJmaWx0ZXJzIjp7Imxvb2tzIjoyODE0fX0%3D" class="submenu__item">
									<div class="title"> Effetto tessuto </div>
								</a> </li>
						</ul>
					</div>
				</div>
				<div class="col-md-9">
					<div class="lanci-hp">
						<div class="box"> <a href="/it/collezioni/xl-large-size/" class="submenu__item" data-component-id="2198">
								<div class="title">Grandi formati</div>
								<div class="picture picture--horizontal"> <img lazy data-src="/media/immagini/128_t_03.jpg" alt="Grandi formati" class="nav--primary--image" /> </div>
							</a> </div>
						<div class="box"> <a href="/it/collezioni/outdoor-design/" class="submenu__item" data-component-id="2197">
								<div class="title">Prodotti per esterno</div>
								<div class="picture picture--horizontal"> <img lazy data-src="https://gruppoconcorde-cdn.thron.com/delivery/public/image/gruppoconcorde/78749de8-e566-4312-9698-6e209421dcf9/yz1hpd/std/0x0/AtlasConcorde_Boost_006_00_White.jpg" alt="Prodotti per esterno" class="nav--primary--image" /> </div>
							</a> </div>
						<div class="box"> <a href="/it/collezioni/marble-look-collection/" class="submenu__item" data-component-id="2200">
								<div class="title">Effetto marmo</div>
								<div class="picture picture--horizontal"> <img lazy data-src="https://gruppoconcorde-cdn.thron.com/delivery/public/image/gruppoconcorde/dd1430b9-661b-4a00-bbff-3a1f28cb8ddc/yz1hpd/std/0x0/AtlasConcorde_MarvelDream_001_00_Bianco-Green.jpg" alt="Effetto marmo" class="nav--primary--image" /> </div>
							</a> </div>
					</div>
				</div>
				<div class="col-md-16">
					<div class="bottom-menu">
						<div class="atlas-solution"> <a href="#" class="submenu__item">
								<div class="title">Atlas Concorde Solution</div>
							</a> </div>
						<div class="ricerca-avanzata"> <a href="/it/collezioni/ricerca-avanzata/" class="submenu__item">
								<div class="title">Vai alla ricerca avanzata</div> <svg class="icon icon--search"><use xlink:href="#search"></use></svg>
							</a> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
