<!-- @@master = ./templates/layout.html { "class": "page-class", "title": "Atlas Concorde: piastrelle in ceramica per pavimenti e rivestimenti" } -->
<!-- @@block = main-->
<script type="text/javascript" lazy-script>
	window.faqCategories = [{
		id: 1,
		title: 'Destinations of use',
		slug: 'destinations-of-use',
		url: 'faq.html#destinations-of-use',
		items: [{
			id: 100,
			title: 'On what kind of surfaces can POLISHED and HONED porcelain stoneware tiles be installed?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 101,
			title: 'Can POLISHED and HONED porcelain stoneware tiles be installed in COMMERCIAL venues?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 102,
			title: 'On what kind of surfaces can COLOURED IN BODY porcelain stoneware tiles be installed?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 103,
			title: 'On what kind of surfaces can WHITE BODY TILES be installed?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 104,
			title: 'Can white body mosaic tiles be installed in SWIMMING POOLS and SHOWERS?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 105,
			title: 'Is it possible to use GLASZED porcelain stoneware tiles for OUTDOOR flooring?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 106,
			title: 'Is it possible to install COLOURED IN BODY or TECHNICAL porcelain stoneware as OUTDOOR flooring?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 107,
			title: 'What type of porcelain stoneware tiles are recommended for large-scale architecture projects?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 108,
			title: 'Is it possible to use COLOURED IN BODY or TECHNICAL porcelain stoneware on CARRIAGEABLE surfaces?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}]
	}, {
		id: 2,
		title: 'Installation of ceramic tiles',
		slug: 'installation-of-ceramic-tiles',
		url: 'faq.html#installation-of-ceramic-tiles',
		items: [{
			id: 200,
			title: 'On what kind of surfaces can POLISHED and HONED porcelain stoneware tiles be installed?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 201,
			title: 'Can POLISHED and HONED porcelain stoneware tiles be installed in COMMERCIAL venues?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 202,
			title: 'On what kind of surfaces can COLOURED IN BODY porcelain stoneware tiles be installed?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 203,
			title: 'On what kind of surfaces can WHITE BODY TILES be installed?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 204,
			title: 'Can white body mosaic tiles be installed in SWIMMING POOLS and SHOWERS?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 205,
			title: 'Is it possible to use GLASZED porcelain stoneware tiles for OUTDOOR flooring?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 206,
			title: 'Is it possible to install COLOURED IN BODY or TECHNICAL porcelain stoneware as OUTDOOR flooring?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 207,
			title: 'What type of porcelain stoneware tiles are recommended for large-scale architecture projects?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 208,
			title: 'Is it possible to use COLOURED IN BODY or TECHNICAL porcelain stoneware on CARRIAGEABLE surfaces?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}]
	}, {
		id: 3,
		title: 'Maintenance and cleaning',
		slug: 'maintenance-and-cleaning',
		url: 'faq.html#maintenance-and-cleaning',
		items: [{
			id: 300,
			title: 'On what kind of surfaces can POLISHED and HONED porcelain stoneware tiles be installed?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 301,
			title: 'Can POLISHED and HONED porcelain stoneware tiles be installed in COMMERCIAL venues?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 302,
			title: 'On what kind of surfaces can COLOURED IN BODY porcelain stoneware tiles be installed?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 303,
			title: 'On what kind of surfaces can WHITE BODY TILES be installed?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 304,
			title: 'Can white body mosaic tiles be installed in SWIMMING POOLS and SHOWERS?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 305,
			title: 'Is it possible to use GLASZED porcelain stoneware tiles for OUTDOOR flooring?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 306,
			title: 'Is it possible to install COLOURED IN BODY or TECHNICAL porcelain stoneware as OUTDOOR flooring?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 307,
			title: 'What type of porcelain stoneware tiles are recommended for large-scale architecture projects?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 308,
			title: 'Is it possible to use COLOURED IN BODY or TECHNICAL porcelain stoneware on CARRIAGEABLE surfaces?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}]
	}, {
		id: 4,
		title: 'Acta Ventilated Facades',
		slug: 'acta-ventilated-facades',
		url: 'faq.html#acta-ventilated-facades',
		items: [{
			id: 400,
			title: 'On what kind of surfaces can POLISHED and HONED porcelain stoneware tiles be installed?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 401,
			title: 'Can POLISHED and HONED porcelain stoneware tiles be installed in COMMERCIAL venues?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 402,
			title: 'On what kind of surfaces can COLOURED IN BODY porcelain stoneware tiles be installed?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 403,
			title: 'On what kind of surfaces can WHITE BODY TILES be installed?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 404,
			title: 'Can white body mosaic tiles be installed in SWIMMING POOLS and SHOWERS?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 405,
			title: 'Is it possible to use GLASZED porcelain stoneware tiles for OUTDOOR flooring?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 406,
			title: 'Is it possible to install COLOURED IN BODY or TECHNICAL porcelain stoneware as OUTDOOR flooring?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 407,
			title: 'What type of porcelain stoneware tiles are recommended for large-scale architecture projects?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 408,
			title: 'Is it possible to use COLOURED IN BODY or TECHNICAL porcelain stoneware on CARRIAGEABLE surfaces?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}]
	}, {
		id: 5,
		title: 'Acta Raised Floors',
		slug: 'acta-raised-floors',
		url: 'faq.html#acta-raised-floors',
		items: [{
			id: 500,
			title: 'On what kind of surfaces can POLISHED and HONED porcelain stoneware tiles be installed?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 501,
			title: 'Can POLISHED and HONED porcelain stoneware tiles be installed in COMMERCIAL venues?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 502,
			title: 'On what kind of surfaces can COLOURED IN BODY porcelain stoneware tiles be installed?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 503,
			title: 'On what kind of surfaces can WHITE BODY TILES be installed?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 504,
			title: 'Can white body mosaic tiles be installed in SWIMMING POOLS and SHOWERS?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 505,
			title: 'Is it possible to use GLASZED porcelain stoneware tiles for OUTDOOR flooring?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 506,
			title: 'Is it possible to install COLOURED IN BODY or TECHNICAL porcelain stoneware as OUTDOOR flooring?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 507,
			title: 'What type of porcelain stoneware tiles are recommended for large-scale architecture projects?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 508,
			title: 'Is it possible to use COLOURED IN BODY or TECHNICAL porcelain stoneware on CARRIAGEABLE surfaces?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}]
	}, {
		id: 6,
		title: 'Outdoor-lastra 20mm',
		slug: 'outdoor-lastra-20mm',
		url: 'faq.html#outdoor-lastra-20mm',
		items: [{
			id: 600,
			title: 'On what kind of surfaces can POLISHED and HONED porcelain stoneware tiles be installed?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 601,
			title: 'Can POLISHED and HONED porcelain stoneware tiles be installed in COMMERCIAL venues?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 602,
			title: 'On what kind of surfaces can COLOURED IN BODY porcelain stoneware tiles be installed?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 603,
			title: 'On what kind of surfaces can WHITE BODY TILES be installed?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 604,
			title: 'Can white body mosaic tiles be installed in SWIMMING POOLS and SHOWERS?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 605,
			title: 'Is it possible to use GLASZED porcelain stoneware tiles for OUTDOOR flooring?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 606,
			title: 'Is it possible to install COLOURED IN BODY or TECHNICAL porcelain stoneware as OUTDOOR flooring?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 607,
			title: 'What type of porcelain stoneware tiles are recommended for large-scale architecture projects?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}, {
			id: 608,
			title: 'Is it possible to use COLOURED IN BODY or TECHNICAL porcelain stoneware on CARRIAGEABLE surfaces?',
			abstr: 'Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.',
			url: 'faq-detail.html',
		}]
	}];

</script>

<section class="section section--hero-secondary section--negative">
	<div class="background" ng-if="!root.webglEnabled" parallax>
		<img lazy data-src="/atlas/img/faq/hero.jpg?width=1920&height=930&mode=crop" alt="title" />
	</div>
	<div class="background" ng-if="root.webglEnabled">
		<canvas glsl-canvas="img/faq/hero.jpg" class="glsl-canvas"></canvas>
	</div>
	<div class="aspect">
		<div class="container">
			<div class="row">
				<div class="col-md-12 offset-md-2">
					<div class="category">Faq</div>
					<div class="title"><b>Good questions,</b><br>right answers.</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section section--faq" ng-controller="FaqCtrl as faqCtrl">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-2 col--primary">
				<!--
				<div class="group group--search">
					<svg class="icon icon--search"><use xlink:href="#search"></use></svg> <input class="control--search" placeholder="I’m looking for...">
				</div>
				-->
				<div class="listing listing--faq-category" ng-if="!faqCtrl.filteredFaqCategories">
					<!-- @foreach category in categories -->
					<div class="listing__item" appear>
						<div class="category">Destinations of use</div>
						<div id="destinations-of-use" class="listing listing--faq">
							<!-- @foreach item in category.items -->
							<div id="faq--100" class="listing__item" appear>
								<div class="title" ng-click="faqCtrl.toggle(100)"><span>On what kind of surfaces can POLISHED and HONED porcelain stoneware tiles be installed?</span> <svg class="icon icon--caret-down"><use xlink:href="#caret-down"></use></svg></div>
								<div class="group group--content">
									<div class="abstract">Polished and honed porcelain stoneware tiles can be installed on indoor floors and as a wall cladding in indoor and outdoor areas.</div>
									<!-- @if item.url -->
									<div class="group group--cta">
										<a href="/atlas/faq-detail.html" class="btn btn--link-secondary"><span>Find out more</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="listing listing--faq-category" ng-if="faqCtrl.filteredFaqCategories">
					<div id="{{category.slug}}" class="listing__item" ng-repeat="category in faqCtrl.filteredFaqCategories track by $index" appear>
						<div class="category" hilight="category.title" query="faqCtrl.query">{{category.title}}</div>
						<div class="listing listing--faq">
							<div id="faq--{{item.id}}" class="listing__item" ng-repeat="item in category.items track by $index" appear>
								<div class="title" ng-click="faqCtrl.toggle(item.id)"><span hilight="item.title" query="faqCtrl.query">{{item.title}}</span> <svg class="icon icon--caret-down"><use xlink:href="#caret-down"></use></svg></div>
								<div class="group group--content" ng-style="{ display: item.opened ? 'block' : 'none' }">
									<div class="abstract" hilight="item.abstr" query="faqCtrl.query">{{item.abstr}}</div>
									<div class="group group--cta" ng-if="item.url">
										<a href="{{item.url}}" class="btn btn--link-secondary"><span>Find out more</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="listing__item" ng-if="faqCtrl.filteredFaqCategories.length == 0" appear>
						<div class="category">No results</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 offset-md-1 col--secondary hidden-sm-down">
				<div class="group group--faq-menu" appear>
					<div class="title">What we concerne about</div>
					<ul class="nav nav--faq-menu">
						<li ng-repeat="item in faqCtrl.faqCategories track by $index"><a ng-href="{{item.url}}" ng-click="faqCtrl.navTo(item, $event)"><span>{{item.title}}</span></a></li>
					</ul>
					<div class="group group--search">
						<svg class="icon icon--search"><use xlink:href="#search"></use></svg> <input id="faq-search" class="control--search" placeholder="I’m looking for...">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- @@close-->
<!-- @@block = breadcrumb-->
<section class="section section--breadcrumb">
	<div class="container">
		<ul class="nav nav--breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li><a href="faq.html">Faq</a></li>
		</ul>
	</div>
</section>
<!-- @@close-->


<!-- @@block = css-->
<!-- additional css here -->
<!-- @@close-->
<!-- @@block = js-->
<!-- additional js here -->
<!-- @@close-->
