<!-- @@master = ./templates/layout.html { "class": "page-class", "title": "Atlas Concorde: piastrelle in ceramica per pavimenti e rivestimenti" } -->
<!-- @@block = main-->
<section class="section section--hero">
	<div class="background" parallax>
		<video onloadeddata="this.play();" oncanplay="this.muted = true;" autoplay muted playsinline loop poster="img/product/marvel/hero.jpg?width=1920&height=844&mode=crop" data-object-fit="cover">
			<source src="https://gruppoconcorde-cdn.thron.com/delivery/public/video/gruppoconcorde/771d6f88-74e2-477f-b747-c53d2b6a1837/yz1hpd/WEBHD/AtlasConcorde_MarvelEdge_002_Short_06.mp4" type="video/mp4">
		</video>
	</div>
	<div class="aspect">
		<div class="container">
			<div class="title">Marvel Edge</div>
			<div class="abstract">Coloured body porcelain tiles</div>
		</div>
	</div>
	<div class="scroll__indicator">
		<svg><use xlink:href="#result-indicator"></use></svg>
	</div>
</section>

<!-- @@include ./templates/shared/menu-product.html -->

<!-- @@include ./templates/shared/product-breadcrumb.html -->

<!-- @@include ./templates/shared/product-navs.html -->

<section class="section section--gallery">
	<div class="zoomable" zoomable ng-class="{ zoomed: zoomed }">
		<div class="zoomable__content">
			<div class="swiper-container" swiper-gallery-hero initial-slide="0">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="picture zoomable__trigger"><img src="https://gruppoconcorde-cdn.thron.com/delivery/public/image/gruppoconcorde/7437a0a3-5f94-49c1-bd8c-f2fa247720bf/yz1hpd/std/0x720/AtlasConcorde_MarvelEdge_M01_09.jpg?scalemode=auto" alt="title" /></div>
						<div class="title">Ut ornare libero magna, non iaculis quam molestie quis. Duis a pretium justo. Sed fermentum tortor eget justo malesuada laoreet. Quisque sed lectus arcu. Pellentesque a blandit mauris. In vestibulum, sem id feugiat rutrum, leo tortor finibus velit, in dignissim est libero sit amet nisi.</div>
					</div>
					<div class="swiper-slide">
						<div class="picture zoomable__trigger"><img src="https://gruppoconcorde-cdn.thron.com/delivery/public/image/gruppoconcorde/0980cc5a-c61e-49d8-865c-4e979965af94/yz1hpd/std/0x720/AtlasConcorde_MarvelEdge_002_01_Calacatta-Red_ADV.jpg?scalemode=auto" alt="title" /></div>
						<div class="title">Ut ornare libero magna, non iaculis quam molestie quis. Duis a pretium justo. Sed fermentum tortor eget justo malesuada laoreet. Quisque sed lectus arcu. Pellentesque a blandit mauris. In vestibulum, sem id feugiat rutrum, leo tortor finibus velit, in dignissim est libero sit amet nisi.</div>
					</div>
					<div class="swiper-slide">
						<div class="picture zoomable__trigger"><img src="https://gruppoconcorde-cdn.thron.com/delivery/public/image/gruppoconcorde/e4b644c8-f2a0-4a30-bcf3-574c07e59a84/yz1hpd/std/0x720/AtlasConcorde_MarvelEdge_M03_18.jpg?scalemode=auto" data-src-zoom="https://gruppoconcorde-cdn.thron.com/delivery/public/image/gruppoconcorde/e4b644c8-f2a0-4a30-bcf3-574c07e59a84/yz1hpd/std/0x1200/AtlasConcorde_MarvelEdge_M03_18.jpg" alt="title" /></div>
						<div class="title">Ut ornare libero magna, non iaculis quam molestie quis. Duis a pretium justo. Sed fermentum tortor eget justo malesuada laoreet. Quisque sed lectus arcu. Pellentesque a blandit mauris. In vestibulum, sem id feugiat rutrum, leo tortor finibus velit, in dignissim est libero sit amet nisi.</div>
					</div>
					<div class="swiper-slide">
						<div class="picture zoomable__trigger"><img src="https://gruppoconcorde-cdn.thron.com/delivery/public/image/gruppoconcorde/114051d2-1927-4d4a-aae6-7f96228d7aba/yz1hpd/std/0x720/AtlasConcorde_MarvelEdge_006_00_Calacatta-Gris.jpg?scalemode=auto" alt="title" /></div>
						<div class="title">Ut ornare libero magna, non iaculis quam molestie quis. Duis a pretium justo. Sed fermentum tortor eget justo malesuada laoreet. Quisque sed lectus arcu. Pellentesque a blandit mauris. In vestibulum, sem id feugiat rutrum, leo tortor finibus velit, in dignissim est libero sit amet nisi.</div>
					</div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination swiper-pagination-white"></div>
				<!-- Add Navigation -->
				<div class="swiper-button-prev swiper-button-white"></div>
				<div class="swiper-button-next swiper-button-white"></div>
			</div>
		</div>
		<div class="zoomable__close"><svg class="icon icon--close"><use xlink:href="#close"></use></svg></div>
	</div>
</section>

<section class="section section--intro">
	<div class="container">
		<svg class="icon icon--logo" appear>
			<use xlink:href="#marvel-edge"></use>
		</svg>
		<div class="row">
			<div class="col-md-6 offset-md-5" appear>
				<div class="title">Colour, detail and style harmony.</div>
				<div class="abstract">Marvel Edge tells tales of authenticity and beauty, as unique as the protagonists.</div>
			</div>
		</div>
	</div>
</section>

<section class="section section--text-full">
	<div class="container">
		<div class="row">
			<div class="col-md-16">
				<div class="title" appear>Marvel è un progetto di superfici d’arredo effetto marmo con pavimenti in gres porcellanato e rivestimenti coordinati, <b>ispirato a marmi prestigiosi</b>. </div>
				<div class="description" appear>
					<p>Brillantezza e forza espressiva dell’ispirazione naturale si riflettono <b>in ambienti dalla forte personalità</b>. Spazi in cui vivere la contemporaneità di un materiale unico e senza tempo. Il sorprendente realismo grafico di Marvel Edge permette di realizzare ambienti armonici e perfettamente coordinati, capaci di riflettere lo stile raffinato di chi li vive e li utilizza quotidianamente.</p>
					<p>Nella progettazione di interni dell’ospitalità, così come in quella degli esercizi commerciali, tonalità, geometrie e accenti danno vita a <b>una sintesi cromatica dallo stile originale ed estremamente raffinato</b>.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section--tiles">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-4" appear>
				<div class="title">Gres Porcellanato</div>
			</div>
		</div>
		<div class="row listing listing--tiles">
			<div class="col-sm-8 col-md-4 listing__item" ng-repeat="item in ['Imperial White', 'Royal Calacatta', 'Elegant Sable', 'Gris Supreme', 'Absolute Brown', 'Agata Azul', 'Gold Onyx', 'Red Luxury'] track by $index" appear>
				<div class="picture" media>
					<img lazy data-src="/atlas/img/product/marvel/tile-0{{$index + 1}}.jpg" alt="title" />
				</div>
				<div class="title">{{item}}</div>
				<div class="group group--cta">
					<a href="/atlas/product-absolute-brown.html" class="btn btn--category"><span>Polished</span></a>
					<a href="/atlas/product-absolute-brown.html" class="btn btn--category"><span>Matte</span></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section--tiles">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-4" appear>
				<div class="title">Rivestimenti</div>
			</div>
		</div>
		<div class="row listing listing--tiles">
			<div class="col-sm-8 col-md-4 listing__item" ng-repeat="item in ['Imperial White', 'Royal Calacatta', 'Elegant Sable', 'Gris Clair', 'Absolute Brown'] track by $index" appear>
				<div class="picture" media>
					<img lazy data-src="/atlas/img/product/marvel/tile-{{$index == 0 ? '09' : $index + 9}}.jpg" alt="title" />
				</div>
				<div class="title">{{item}}</div>
				<div class="group group--cta">
					<a href="/atlas/product-absolute-brown.html" class="btn btn--category"><span>Polished</span></a>
					<a href="/atlas/product-absolute-brown.html" class="btn btn--category"><span>Matte</span></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section--table">
	<div class="container">
		<div class="flex--table">
			<div class="flex--row">
				<div class="flex__item flex__item--title">Formato</div>
				<div class="flex__item flex__item--title">Spessore</div>
				<div class="flex__item flex__item--title">Finitura</div>
			</div>
			<div class="flex--row">
				<div class="flex__item">120x278 cm 47¼"x109½"</div>
				<div class="flex__item">6 mm</div>
				<div class="flex__item">lucida</div>
			</div>
			<div class="flex--row">
				<div class="flex__item">120x278 cm 47¼"x109½"</div>
				<div class="flex__item">6 mm</div>
				<div class="flex__item">lucida, matt</div>
			</div>
			<div class="flex--row">
				<div class="flex__item">120x278 cm 47¼"x109½"</div>
				<div class="flex__item">6 mm</div>
				<div class="flex__item">lucida</div>
			</div>
			<div class="flex--row">
				<div class="flex__item">120x278 cm 47¼"x109½"</div>
				<div class="flex__item">6 mm</div>
				<div class="flex__item">lucida, matt</div>
			</div>
			<div class="flex--row">
				<div class="flex__item">120x278 cm 47¼"x109½"</div>
				<div class="flex__item">6 mm</div>
				<div class="flex__item">lucida</div>
			</div>
			<div class="flex--row">
				<div class="flex__item">120x278 cm 47¼"x109½"</div>
				<div class="flex__item">6 mm</div>
				<div class="flex__item">lucida, matt</div>
			</div>
		</div>
	</div>
</section>

<!-- @@include ./templates/shared/download.html -->

<!-- @@include ./templates/shared/store.html -->

<!-- @@close-->
<!-- @@block = breadcrumb-->
<section class="section section--breadcrumb">
	<div class="container">
		<ul class="nav nav--breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li><a href="collections.html">Our Collections</a></li>
			<li><a href="product-project.html">Marvel Edge</a></li>
		</ul>
	</div>
</section>
<!-- @@close-->


<!-- @@block = css-->
<!-- additional css here -->
<!-- @@close-->
<!-- @@block = js-->
<!-- additional js here -->
<!-- @@close-->
