<!-- @@master = ./templates/layout.html { "class": "page-class", "title": "Atlas Concorde: piastrelle in ceramica per pavimenti e rivestimenti" } -->

<!-- @@block = main-->

<script type="text/javascript" lazy-script>
	window.filters = {
		types: {
			options: [{
				label: 'Collezioni',
				value: 1,
			}, {
				label: 'Ambienti',
				value: 2,
			}, {
				label: 'News',
				value: 3,
			}, {
				label: 'Magazine',
				value: 4,
			}, {
				label: 'Referenze',
				value: 5,
			}]
		}
	};

</script>

<div ng-controller="SearchCtrl as searchCtrl">

	<section class="section section--hero-secondary section--hero-search" data-component-id="0">
		<div class="aspect">
			<div class="container">
				<div class="row">
					<div class="col-md-10 offset-md-2">
						<h2 class="title">Cerca nel sito</h2>
						<form name="form" class="form" role="form" novalidate="" autocomplete="off" ng-submit="form.$valid && searchCtrl.onSubmit()" ng-keyup="$event.keyCode == 13 && form.$valid && searchCtrl.onSubmit()">
							<div class="group group--control">
								<input type="text" name="query" placeholder="es. marvel" required ng-model="searchCtrl.model.query" />
								<button type="submit" class="btn btn--secondary" ng-class="{ 'btn--busy': searchCtrl.busy }"><svg class="icon icon--search"><use xlink:href="#search"></use></svg> <span>Cerca nel sito</span></button>
							</div>
						</form>
						<div class="group group--error" ng-if="searchCtrl.error">
							<span>{{searchCtrl.error.message}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section section--search" ng-if="searchCtrl.model.query">
		<div class="container">
			<div class="category">Abbiamo trovato <strong>{{searchCtrl.items.length}} risultati</strong></div>
		</div>
		<div class="tabmenu">
			<div class="container">
				<ul class="nav--search">
					<li ng-class="{ active: searchCtrl.filters.types.value == option.value }" ng-repeat="option in searchCtrl.filters.types.options track by $index"><span ng-click="searchCtrl.setFilter(option, searchCtrl.filters.types)">Risultati in <strong ng-bind="option.label"></strong></span></li>
				</ul>
			</div>
		</div>
		<div class="container" ng-if="searchCtrl.visibleItems && searchCtrl.visibleItems.length" scroll="searchCtrl.onScroll($event)">
			<div ng-repeat="item in searchCtrl.visibleItems track by $index">
				<div class="row section--search__result" appear>
					<div class="col-sm-6 col-md-8 col-lg-5">
						<div class="picture picture--with-category">
							<img lazy data-src="{{item.image}}" alt="title" />
							<span class="category" ng-bind="item.category"></span>
						</div>
					</div>
					<div class="col-sm-10 col-md-8 col-lg-7 offset-lg-1">
						<div class="content">
							<div class="title" ng-bind="item.title"></div>
							<div class="abstract" ng-bind="item.abstract" ng-if="item.abstract"></div>
							<div class="group group--cta">
								<a href="/atlas/references-detail.html" class="btn btn--link"><span>Vai alla pagina trovata</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="section--search__sizes" appear ng-if="item.sizes && item.sizes.length">
					<div class="listing__item" ng-repeat="size in item.sizes track by $index" appear>
						<div class="picture">
							<img lazy data-src="{{size.image}}" alt="{{size.alt}}">
						</div>
						<div class="content">
							<div class="title" ng-bind="size.title"></div>
							<div class="abstract" ng-bind="size.abstract"></div>
							<div class="description" ng-bind="size.description"></div>
							<div class="group group--cta">
								<a ng-href="{{size.url}}" class="btn btn--link"><span>Vai alla pagina trovata</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="loader" ng-if="searchCtrl.visibilityBusy">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ring">
					<circle cx="50" cy="50" fill="none" r="15" stroke-width="2"></circle>
					<circle cx="50" cy="50" fill="none" r="15" stroke-width="2" stroke-linecap="square" transform="rotate(502.497 50 50)">
						<animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;180 50 50;720 50 50" keyTimes="0;0.5;1" dur="2s" begin="0s" repeatCount="indefinite"></animateTransform>
						<animate attributeName="stroke-dasharray" calcMode="linear" values="9.42477796076938 84.82300164692441;47.1238898038469 47.123889803846886;9.42477796076938 84.82300164692441" keyTimes="0;0.5;1" dur="2" begin="0s" repeatCount="indefinite"></animate>
					</circle>
				</svg>
				<div>@Localize.GetLabelHtml("lbl_load_more")</div>
			</div>
		</div>
	</section>

</div>

<!-- @@close-->
<!-- @@block = breadcrumb-->
<section class="section section--breadcrumb">
	<div class="container">
		<ul class="nav nav--breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li><a href="search.html">Search</a></li>
		</ul>
	</div>
</section>
<!-- @@close-->


<!-- @@block = css-->
<!-- additional css here -->
<!-- @@close-->
<!-- @@block = js-->
<!-- additional js here -->
<!-- @@close-->
