$background: var(--color-background);
$background-negative: var(--color-background-negative);
$background-secondary: var(--color-background-secondary);
$background-tertiary: var(--color-background-tertiary);
$foreground: var(--color-foreground);
$foreground-negative: var(--color-foreground-negative);
$foreground-secondary: var(--color-foreground-secondary);
$background-header: var(--color-background-header);
$background-subheader: var(--color-background-subheader);
$foreground-footer: var(--color-foreground-footer);
$background-tilesize: var(--color-background-tilesize);
$foreground-tilesize: var(--color-foreground-tilesize);
$border: var(--color-border);
$nav-header: var(--color-nav-header);
$nav-product: var(--color-nav-product);
$nav-product-active: var(--color-nav-product-active);
$primary: var(--color-primary);
$facebook: var(--color-facebook);
$google: var(--color-google);
$font-primary: var(--font-primary);
$font-secondary: var(--font-secondary);
$font-size: var(--font-size);
$line-height: var(--line-height);
$font-weight: var(--font-weight);
$font-extralight: var(--font-extralight);
$font-light: var(--font-light);
$font-regular: var(--font-regular);
$font-semibold: var(--font-semibold);
$font-bold: var(--font-bold);
$font-extrabold: var(--font-extrabold);
$font-black: var(--font-black);
$btn-radius: var(--btn-radius);
$card-radius: var(--card-radius);
$bullet-size: var(--bullet-size);

$grid-columns: 16 !default;
$grid-gutter-width: 30px !default;
$grid-breakpoints: (xs: 0, sm: 768px, md: 1024px, lg: 1440px, xl: 1830px) !default;
$container-max-widths: (sm: calc(100vw - 120px),
md: calc(100vw - 180px),
lg: calc(100vw - 240px),
xl: 1530px) !default; // calc(100vw - 300px)) !default;
