$background: #ffffff;
$background-negative: #000000;
$background-secondary: #ffffff;
$background-tertiary: #f0f1f3; // #f0f1f3;
$background-header: #123258;
$background-subheader: #1a1a1a;
// $background-subheader: #113157;
$foreground: #0f3252;
$foreground-negative: #ffffff;
$foreground-secondary: #868887;
$foreground-footer: #605f5e;
$background-tilesize: #cdc9c7;
$foreground-tilesize: #64605d;
$border: #dfe4e6;
$nav-header: #f4f8f9;
$nav-product: #113253;
$nav-product-active: #eeeff3;
$primary: #123258;
$primary-active: #0c2746;
$store: #b92442;
$store-secondary: #494948;
$facebook: #3B5998;
$google: #dd4b39;
